<!--
This is is the Energy Transformation Module (ET) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 2021 TECNALIA - Eider Robles, Vincenzo Nava, Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <h1>Analysis Mode Outputs</h1>
    <h2>Study details</h2>
    <p><i>Name: </i> <span>{{ studyData.study_result.name }}</span></p>
    <p><i>Description: </i> {{ studyData.study_result.description }}</p>
    <!-- <p>
      <i>Standalone mode: </i>
      <span v-if="studyData.study_result.standalone">Yes</span>
      <span v-else>No</span>
    </p> -->
    <p v-if="!studyData.study_result.standalone"><i>Site Characterisation ID: </i> {{ studyData.study_result.site_characterisation_id }}</p>
    <p v-if="!studyData.study_result.standalone"><i>Machine Characterisation ID: </i> {{ studyData.study_result.machine_characterisation_id }}</p>
    <p v-if="!studyData.study_result.standalone"><i>Energy Capture ID: </i> {{ studyData.study_result.energy_capture_id }}</p>
    <el-row>
      <el-col :span="3">
        <el-button
          type="primary"
          size="mini"
          @click="dialogECVisible = true"
        >
          EC data
        </el-button>
      </el-col>
      <el-dialog title="Energy Capture data" :visible.sync="dialogECVisible">
        {{ this.ec_data }}
      </el-dialog>
      <el-col :span="3">
        <el-button
          type="primary"
          size="mini"
          @click="dialogSCVisible = true"
        >
          SC data
        </el-button>
      </el-col>
      <el-dialog title="Site Characterisation data" :visible.sync="dialogSCVisible">
        {{ this.sc_data }}
      </el-dialog>
      <el-col :span="3">
        <el-button
          type="primary"
          size="mini"
          @click="dialogMCVisible = true"
        >
          MC data
        </el-button>
      </el-col>
      <el-dialog title="Machine Characterisation data" :visible.sync="dialogMCVisible">
        {{ this.mc_data }}
      </el-dialog>
    </el-row>
    <br>
    <br>
    <el-button icon="el-icon-download" @click="onExportDr">Export Digital Representation</el-button>
    <br>
    <br>
    <h2>Output data</h2>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane v-loading="loadingArray" label="Array Outputs" name="array">
        <br>
        <el-row>
          <el-button
            icon="el-icon-download"
            data-cy-spey="saveFile"
            @click="saveToFile(array_list,'array_outputs.json')"
          >
            Save All Array Data
          </el-button>
        </el-row>
        <br>
        <br>
        <el-table :data="taxonomy_array_data" style="width: 100%">
          <el-table-column
            prop="label"

            :min-width="20"
          >
            <template slot-scope="scope">
              {{ scope.row.label }}
              <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                <i class="el-icon-info" />
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column
            prop="value"

            :min-width="80"
          >
            <template slot-scope="scope">
              <span v-if="scope.row.label== 'Hierarchy'">
                <el-collapse v-model="activeNames" @change="handleChange">
                  <el-collapse-item title="Hierarchy Table" name="6">
                    <el-table :data="scope.row.value" size="mini" style="width: 100%">
                      <el-table-column
                        prop="name_of_node"
                        label="Name of Node"
                        :min-width="12"
                      />
                      <el-table-column
                        prop="node_type"
                        label="Type of Node"
                        :min-width="13"
                      />
                      <el-table-column
                        prop="category"
                        label="Category"
                        :min-width="12"
                      />
                      <el-table-column
                        prop="parent"
                        label="Parent"
                        :min-width="13"
                      />
                      <el-table-column
                        prop="child"
                        label="Child"
                        :min-width="25"
                      >
                        <template slot-scope="scope">
                          <p>{{ scope.row.child }}</p>
                        </template>

                      </el-table-column>
                      <el-table-column
                        prop="gate_type"
                        label="Gate Type"
                        :min-width="12"
                      />
                      <el-table-column
                        prop="failure_rate_repair"
                        label="Failure Rate"
                        :min-width="13"
                      />
                    </el-table>
                  </el-collapse-item>
                </el-collapse>
              </span>
              <span v-else><i>{{ scope.row.value }}</i></span>
            </template>
          </el-table-column>
        </el-table>
        <el-collapse v-model="activeNames" accordion @change="handleChange">
          <!-- <el-collapse-item title="Taxonomy" name="1">
            <el-table :data="taxonomy_array_data" style="width: 100%" >
              <el-table-column
                prop="label"
                label="Quantity"
                width="350"
              >
                <template slot-scope="scope">
                  {{ scope.row.label }}
                  <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                    <i class="el-icon-info" />
                  </el-tooltip>
                </template>
              </el-table-column>
              <el-table-column
                prop="unit"
                label="Unit"
                width="150"
              />
              <el-table-column
                prop="value"
                label="Value"
                width="600"
              >
                <template slot-scope="scope">
                  <span v-if="scope.row.label== 'Hierarchy'">
                    <el-collapse v-model="activeNames" @change="handleChange">
                      <el-collapse-item title="Hierarchy Table" name="6">
                        <el-table :data="scope.row.value" size="mini"  style="width: 100%">
                          <el-table-column
                            prop="name_of_node"
                            label="Name of Node"
                            width="90"
                          />
                          <el-table-column
                            prop="node_type"
                            label="Type of Node"
                            width="90"
                          />
                          <el-table-column
                            prop="category"
                            label="Category"
                            width="90"
                          />
                          <el-table-column
                            prop="parent"
                            label="Parent"
                            width="180"
                          />
                          <el-table-column
                            prop="child"
                            label="Child"
                            width="180"
                          >
                            <template slot-scope="scope">
                              <p>{{ scope.row.child }}</p>
                            </template>

                          </el-table-column>
                          <el-table-column
                            prop="gate_type"
                            label="Gate Type"
                            width="90"
                          />
                          <el-table-column
                            prop="failure_rate_repair"
                            label="Failure Rate"
                            width="90"
                          />
                        </el-table>
                      </el-collapse-item>
                    </el-collapse>
                  </span>
                  <span v-else><i>{{ scope.row.value }}</i></span>
                </template>
              </el-table-column>
            </el-table>
          </el-collapse-item> -->
          <el-collapse-item title="Design" name="2">
            <el-table :data="design_array_data" style="width: 100%">
              <el-table-column
                prop="label"
                label="Quantity"
                :min-width="20"
              >
                <template slot-scope="scope">
                  {{ scope.row.label }}
                  <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                    <i class="el-icon-info" />
                  </el-tooltip>
                </template>
              </el-table-column>
              <el-table-column
                prop="unit"
                label="Unit"
                :min-width="10"
              />
              <el-table-column
                prop="value"
                label="Value"
                :min-width="70"
              >
                <template slot-scope="scope">
                  <span v-if="scope.row.label== 'Bill of materials'">
                    <el-collapse v-model="activeNames" @change="handleChange">
                      <el-collapse-item title="Bill of Materials Table" name="7">
                        <el-table :data="scope.row.value" size="mini">
                          <el-table-column
                            prop="id"
                            label="ID"
                            :min-width="20"
                          />
                          <el-table-column
                            prop="name"
                            label="Name"
                            :min-width="20"
                          />
                          <el-table-column
                            prop="qnt"
                            label="Quantity"
                            :min-width="20"
                          />
                          <!-- <el-table-column
                            prop="uom"
                            label="Unit of measurement"
                            width="180"
                          /> -->
                          <el-table-column
                            prop="unit_cost"
                            label="Unit Cost [Euros]"
                            :min-width="20"
                          />
                          <el-table-column
                            prop="total_cost"
                            label="Total Cost [Euro]"
                            :min-width="20"
                          />
                        </el-table>
                        <!-- <json-view :data="scope.row.value" rootKey="ET Hierarchy" /> -->
                      </el-collapse-item>
                    </el-collapse>
                  </span>
                  <span v-else><i>{{ scope.row.value }}</i></span>
                </template>
              </el-table-column>
            </el-table>
          </el-collapse-item>
          <el-collapse-item title="Assessment - Energy" name="3">
            <el-table :data="energy_array_data" style="width: 100%">
              <el-table-column
                prop="label"
                label="Quantity"
                :min-width="20"
              >
                <template slot-scope="scope">
                  {{ scope.row.label }}
                  <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                    <i class="el-icon-info" />
                  </el-tooltip>
                </template>
              </el-table-column>
              <el-table-column
                prop="unit"
                label="Unit"
                :min-width="10"
              />
              <el-table-column
                prop="value"
                label="Value"
                :min-width="70"
              />
            </el-table>
          </el-collapse-item>
          <el-collapse-item title="Assessment - Power" name="4">
            <el-table :data="power_array_data" style="width: 100%">
              <el-table-column
                prop="label"
                label="Quantity"
                :min-width="20"
              >
                <template slot-scope="scope">
                  {{ scope.row.label }}
                  <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                    <i class="el-icon-info" />
                  </el-tooltip>
                </template>
              </el-table-column>
              <el-table-column
                prop="unit"
                label="Unit"
                :min-width="10"
              />
              <el-table-column
                prop="value"
                label="Value"
                :min-width="70"
              >
                <template slot-scope="scope">
                  <el-collapse v-model="activeNames" @change="handleChange">
                    <el-collapse-item title="Power Table per Site Condition" :name="scope.row.label">
                      <el-table :data="scope.row.value" size="mini" style="width: 100%">
                        <el-table-column
                          prop="id"
                          label="Site ID Condition"
                          :min-width="25"
                        />
                        <el-table-column
                          prop="Power"
                          label="Power"
                          :min-width="75"
                        />
                      </el-table>
                      <!-- <json-view :data="scope.row.value" rootKey="ET Hierarchy" /> -->
                    </el-collapse-item>
                  </el-collapse>
                </template>
              </el-table-column>
            </el-table>
          </el-collapse-item>
          <el-collapse-item title="Assessment - Economics" name="5">
            <el-table :data="economics_array_data" style="width: 100%">
              <el-table-column
                prop="label"
                label="Quantity"
                :min-width="20"
              >
                <template slot-scope="scope">
                  {{ scope.row.label }}
                  <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                    <i class="el-icon-info" />
                  </el-tooltip>
                </template>
              </el-table-column>
              <el-table-column
                prop="unit"
                label="Unit"
                :min-width="10"
              />
              <el-table-column
                prop="value"
                label="Value"
                :min-width="70"
              />
            </el-table>
          </el-collapse-item>
        </el-collapse>
      </el-tab-pane>
      <el-tab-pane label="Device Outputs" name="device">
        <br>
        <el-row>
          <el-button
            icon="el-icon-download"
            data-cy-spey="saveFile"
            @click="saveToFile(device_list,'devices_outputs.json')"
          >
            Save All Devices Data
          </el-button>
        </el-row>
        <br>
        <br>
        <el-select v-model="value" placeholder="Select One Device" @change="onSelectDevice(value)">
          <el-option
            v-for="item in device_names"
            :key="item.value"
            :label="item.name"
            :value="item.value"
          />
        </el-select>

        <el-button
          :disabled="dev_id==null"
          icon="el-icon-download"
          data-cy-spey="saveFile"
          @click="saveToFile(device_list_single,'selected_device_outputs.json')"
        >
          Save the Selected Device Data
        </el-button>
        <br>
        <br>
        <span v-if="dev_id== null">No Device Selected </span>
        <span v-else>
          <el-table v-loading="loadingDevice" :data="taxonomy_device_data" style="width: 100%">
            <el-table-column
              prop="label"
              :min-width="20"
            >
              <template slot-scope="scope">
                {{ scope.row.label }}
                <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                  <i class="el-icon-info" />
                </el-tooltip>
              </template>
            </el-table-column>
            <el-table-column
              prop="value"
              :min-width="80"
            />
          </el-table>
          <el-collapse v-model="activeNames" v-loading="loadingDevice" accordion @change="handleChange">
            <!-- <el-collapse-item title="Taxonomy" name="8">
            <el-table :data="taxonomy_device_data" style="width: 100%" >
              <el-table-column
                prop="label"
                label="Quantity"
                width="350"
              >
                <template slot-scope="scope">
                  {{ scope.row.label }}
                  <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                    <i class="el-icon-info" />
                  </el-tooltip>
                </template>
              </el-table-column>
              <el-table-column
                prop="unit"
                label="Unit"
                width="150"
              />
              <el-table-column
                prop="value"
                label="Value"
                width="300"
              />
            </el-table>
          </el-collapse-item> -->
            <el-collapse-item title="Design" name="9">
              <el-table :data="design_device_data" style="width: 100%">
                <el-table-column
                  prop="label"
                  label="Quantity"
                  :min-width="20"
                >
                  <template slot-scope="scope">
                    {{ scope.row.label }}
                    <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                      <i class="el-icon-info" />
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="unit"
                  label="Unit"
                  :min-width="10"
                />
                <el-table-column
                  prop="value"
                  label="Value"
                  :min-width="70"
                >
                  <template slot-scope="scope">
                    <span v-if="scope.row.label== 'Cpto / sigma_v'">
                      <el-collapse v-model="activeNames" @change="handleChange">
                        <el-collapse-item title="Cpto and sigma_v for sea condition" name="Cpto vs sigma v">
                          <el-table :data="scope.row.value" size="mini" style="width: 100%">
                            <el-table-column
                              type="index"
                              label="dof"
                              :min-width="20"
                            />
                            <el-table-column
                              prop="C_pto"
                              label="Cpto"
                              :min-width="40"
                            >
                              <template slot-scope="scope">
                                {{ scope.row.C_pto }}
                              </template>

                            </el-table-column>

                            <el-table-column
                              prop="sigma_v"
                              label="Sigma v"
                              :min-width="40"
                            >
                              <template slot-scope="scope">
                                {{ scope.row.sigma_v }}
                              </template>

                            </el-table-column>

                          </el-table>
                          <!-- <json-view :data="scope.row.value" rootKey="ET Hierarchy" /> -->
                        </el-collapse-item>
                      </el-collapse>
                    </span>
                    <span v-else><i>{{ scope.row.value }}</i></span>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="Assessment - Energy" name="10">
              <el-table :data="energy_device_data" style="width: 100%">
                <el-table-column
                  prop="label"
                  label="Quantity"
                  :min-width="20"
                >
                  <template slot-scope="scope">
                    {{ scope.row.label }}
                    <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                      <i class="el-icon-info" />
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="unit"
                  label="Unit"
                  :min-width="10"
                />
                <el-table-column
                  prop="value"
                  label="Value"
                  :min-width="70"
                />
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="Assessment - Power" name="11">
              <el-table :data="power_device_data" style="width: 100%">
                <el-table-column
                  prop="label"
                  label="Quantity"
                  :min-width="20"
                >
                  <template slot-scope="scope">
                    {{ scope.row.label }}
                    <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                      <i class="el-icon-info" />
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="unit"
                  label="Unit"
                  :min-width="10"
                />
                <el-table-column
                  prop="value"
                  label="Value"
                  :min-width="70"
                >
                  <template slot-scope="scope">
                    <el-collapse v-model="activeNames" @change="handleChange">
                      <el-collapse-item title="Power Table per Site Condition" :name="scope.row.label">
                        <el-table :data="scope.row.value" size="mini" style="width: 100%">
                          <el-table-column
                            prop="id"
                            label="Site ID Condition"
                            :min-width="20"
                          />
                          <el-table-column
                            prop="Power"
                            label="Power"
                            :min-width="80"
                          />
                        </el-table>
                      <!-- <json-view :data="scope.row.value" rootKey="ET Hierarchy" /> -->
                      </el-collapse-item>
                    </el-collapse>
                  </template>
                </el-table-column>
              </el-table>
            <!-- <el-select v-model="value_site" placeholder="Select One Sea State" :disabled="pto_id==null" @change="onSelectSite(value_site)">
              <el-option
                v-for="item in site_names"
                :key="item.value"
                :label="item.name"
                :value="item.value"
              />
            </el-select> -->
            </el-collapse-item>
            <el-collapse-item title="Assessment - Economics" name="12">
              <el-table :data="economics_device_data" style="width: 100%">
                <el-table-column
                  prop="label"
                  label="Quantity"
                  :min-width="20"
                >
                  <template slot-scope="scope">
                    {{ scope.row.label }}
                    <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                      <i class="el-icon-info" />
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="unit"
                  label="Unit"
                  :min-width="10"
                />
                <el-table-column
                  prop="value"
                  label="Value"
                  :min-width="70"
                />
              </el-table>
            </el-collapse-item>
          </el-collapse>
        </span>
      </el-tab-pane>
      <el-tab-pane label="PTO Outputs" name="pto">
        <br>
        <el-row>
          <el-button
            icon="el-icon-download"
            data-cy-spey="saveFile"
            @click="saveToFile(pto_list_array,'ptos_outputs.json')"
          >
            Save the Outputs of all the PTOs
          </el-button>
        </el-row>
        <br>
        <br>
        <el-select v-model="value" placeholder="Select One Device" @change="onSelectDevice(value)">
          <el-option
            v-for="item in device_names"
            :key="item.value"
            :label="item.name"
            :value="item.value"
          />
        </el-select>
        <el-button
          :disabled="dev_id==null"
          icon="el-icon-download"
          data-cy-spey="saveFile"
          @click="saveToFile(pto_list,'pto_device_outputs.json')"
        >
          Save the outputs for all the PTOs in the Selected Device
        </el-button>
        <br>
        <br>
        <el-select v-model="value_pto" placeholder="Select One PTO" :disabled="dev_id==null" @change="onSelectPTO(value_pto)">
          <el-option
            v-for="item in pto_names"
            :key="item.value"
            :label="item.name"
            :value="item.value"
          />
        </el-select>
        <el-button
          :disabled="pto_id==null"
          icon="el-icon-download"
          data-cy-spey="saveFile"
          @click="saveToFile(pto_list_single,'pto_outputs.json')"
        >
          Save the outputs for the selected PTO
        </el-button>
        <!-- <el-select v-model="value_site" placeholder="Select One Sea State" :disabled="pto_id==null" @change="onSelectSite(value_site)">
          <el-option
            v-for="item in site_names"
            :key="item.value"
            :label="item.name"
            :value="item.value"
          />
        </el-select>
        <el-button
          :disabled="site_id==null"
          icon="el-icon-download"
          data-cy-spey="saveFile"
          @click="saveToFile(site_list,'site_outputs.json')"
        >
          Save the outputs for the selected Site
        </el-button>
        <br>
        <br>         -->
        <br>
        <br>
        <span v-if="pto_id== null">No PTO Selected </span>
        <span v-else>
          <el-table v-loading="loadingPTO" :data="taxonomy_pto_data" style="width: 100%">
            <el-table-column
              prop="label"
              :min-width="20"
            >
              <template slot-scope="scope">
                {{ scope.row.label }}
                <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                  <i class="el-icon-info" />
                </el-tooltip>
              </template>
            </el-table-column>
            <el-table-column
              prop="value"
              :min-width="80"
            />
          </el-table>
          <el-collapse v-model="activeNames" v-loading="loadingPTO" accordion @change="handleChange">
            <!-- <el-collapse-item title="Taxonomy" name="15">
            <el-table :data="taxonomy_pto_data" style="width: 100%" >
              <el-table-column
                prop="label"
                label="Quantity"
                width="350"
              >
                <template slot-scope="scope">
                  {{ scope.row.label }}
                  <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                    <i class="el-icon-info" />
                  </el-tooltip>
                </template>
              </el-table-column>
              <el-table-column
                prop="unit"
                label="Unit"
                width="150"
              />
              <el-table-column
                prop="value"
                label="Value"
                width="300"
              />
            </el-table>
          </el-collapse-item> -->
            <el-collapse-item title="Design" name="16">
              <el-table :data="design_pto_data" style="width: 100%">
                <el-table-column
                  prop="label"
                  label="Quantity"
                  :min-width="20"
                >
                  <template slot-scope="scope">
                    {{ scope.row.label }}
                    <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                      <i class="el-icon-info" />
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="unit"
                  label="Unit"
                  :min-width="10"
                />
                <el-table-column
                  prop="value"
                  label="Value"
                  :min-width="70"
                >
                  <template slot-scope="scope">
                    <span v-if="scope.row.label== 'Mechanical System - output rotational speed'">
                      <el-collapse v-model="activeNames" @change="handleChange">
                        <el-collapse-item title="Mean speed per sea state" name="Mech rotational speed">
                          <el-table :data="scope.row.value" size="mini" style="width: 100%">
                            <el-table-column
                              type="index"
                              label="Site ID Condition"
                              :min-width="20"
                            />
                            <el-table-column
                              prop="value"
                              label="Mech speed"
                              :min-width="80"
                            />
                              <!-- <template slot-scope="scope">
                                {{ scope.row.MechT_omega }}
                              </template>

                            </el-table-column> -->
                          </el-table>
                          <!-- <json-view :data="scope.row.value" rootKey="ET Hierarchy" /> -->
                        </el-collapse-item>
                      </el-collapse>
                    </span>
                    <span v-else><i>{{ scope.row.value }}</i></span>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="Assessment - Energy" name="17">
              <el-table :data="energy_pto_data" style="width: 100%">
                <el-table-column
                  prop="label"
                  label="Quantity"
                  :min-width="20"
                >
                  <template slot-scope="scope">
                    {{ scope.row.label }}
                    <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                      <i class="el-icon-info" />
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="unit"
                  label="Unit"
                  :min-width="10"
                />
                <el-table-column
                  prop="value"
                  label="Value"
                  :min-width="70"
                />
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="Assessment - Power" name="18">
              <el-table :data="power_pto_data" style="width: 100%">
                <el-table-column
                  prop="label"
                  label="Quantity - Powers"
                  :min-width="20"
                >
                  <template slot-scope="scope">
                    {{ scope.row.label }}
                    <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                      <i class="el-icon-info" />
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="unit"
                  label="Unit"
                  :min-width="10"
                />
                <el-table-column
                  prop="value"
                  label="Value"
                  :min-width="70"
                >
                  <template slot-scope="scope">
                    <el-collapse v-model="activeNames" @change="handleChange">
                      <el-collapse-item title="Power Table per Site Condition" :name="scope.row.label">
                        <el-table :data="scope.row.value" size="mini" style="width: 100%">
                          <el-table-column
                            prop="id"
                            label="Site ID Condition"
                            :min-width="20"
                          />
                          <el-table-column
                            prop="Power"
                            label="Power"
                            :min-width="80"
                          />
                        </el-table>
                      <!-- <json-view :data="scope.row.value" rootKey="ET Hierarchy" /> -->
                      </el-collapse-item>
                    </el-collapse>
                  </template>
                </el-table-column>
              </el-table>
              <el-table :data="eff_pto_data" style="width: 100%">
                <el-table-column
                  prop="label"
                  label="Quantity - Efficiencies"
                  :min-width="20"
                >
                  <template slot-scope="scope">
                    {{ scope.row.label }}
                    <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                      <i class="el-icon-info" />
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="unit"
                  label="Unit"
                  :min-width="10"
                />
                <el-table-column
                  prop="value"
                  label="Value"
                  :min-width="70"
                >
                  <template slot-scope="scope">
                    <el-collapse v-model="activeNames" @change="handleChange">
                      <el-collapse-item title="Efficiency Table per Site Condition" :name="scope.row.label">
                        <el-table :data="scope.row.value" size="mini" style="width: 100%">
                          <el-table-column
                            prop="id"
                            label="Site ID Condition"
                            :min-width="20"
                          />
                          <el-table-column
                            prop="Eff"
                            label="Efficiency"
                            :min-width="80"
                          />
                        </el-table>
                      <!-- <json-view :data="scope.row.value" rootKey="ET Hierarchy" /> -->
                      </el-collapse-item>
                    </el-collapse>
                  </template>
                </el-table-column>
              </el-table>
            <!-- <template slot-scope="scope">
              <el-button
                size="mini"
                type="warning"
                @click="openPlot(device_names)"
              >Plot</el-button>
            </template> -->
            </el-collapse-item>
            <el-collapse-item title="Power plots" name="21">
              <el-select v-model="value_site" placeholder="Select one Sea State" :disabled="pto_id==null" @change="onSelectSite(value_site)">
                <el-option
                  v-for="item in site_names"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
              <img :src="image1">
            </el-collapse-item>
            <el-collapse-item title="Assessment - Economics" name="19">
              <el-table :data="economics_pto_data" style="width: 100%">
                <el-table-column
                  prop="label"
                  label="Quantity"
                  :min-width="20"
                >
                  <template slot-scope="scope">
                    {{ scope.row.label }}
                    <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                      <i class="el-icon-info" />
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="unit"
                  label="Unit"
                  :min-width="10"
                />
                <el-table-column
                  prop="value"
                  label="Value"
                  :min-width="70"
                />
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="Assessment - Reliability" name="20">
              <el-table :data="reliability_pto_data" style="width: 100%">
                <el-table-column
                  prop="label"
                  label="Quantity"
                  :min-width="20"
                >
                  <template slot-scope="scope">
                    {{ scope.row.label }}
                    <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
                      <i class="el-icon-info" />
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="unit"
                  label="Unit"
                  :min-width="10"
                />
                <el-table-column
                  prop="value"
                  label="Value"
                  :min-width="70"
                />
              </el-table>
            </el-collapse-item>
          </el-collapse>
        </span>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import axios from 'axios'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/dtop/dtopConsts"

export default {
  data() {
    return {
      activeName: 'array',
      studyData: {},
      array_data: [],
      array_list: null,
      taxonomy_array_data: [],
      economics_array_data: [],
      energy_array_data: [],
      power_array_data: [],
      design_array_data: [],
      taxonomy_device_data: [],
      economics_device_data: [],
      energy_device_data: [],
      power_device_data: [],
      design_device_data: [],
      taxonomy_pto_data: [],
      economics_pto_data: [],
      reliability_pto_data: [],
      energy_pto_data: [],
      power_pto_data: [],
      eff_pto_data: [],
      design_pto_data: [],
      device_data: [],
      device_names: [],
      pto_names: [],
      site_names: [],
      device_list: null,
      device_list_single: null,
      dev_id: null,
      pto_id: null,
      site_id: null,
      pto_data: [],
      pto_list_array: null,
      pto_list: null,
      pto_list_single: null,
      site_list: null,
      activeNames: [''],
      value: '',
      value_pto: '',
      value_site: '',
      image1: '',
      ec_data: '',
      sc_data: '',
      mc_data: '',
      dialogECVisible: false,
      dialogMCVisible: false,
      dialogSCVisible: false,
      loadingArray: true,
      loadingDevice: true,
      loadingPTO: true,
      dr_data : {}
    }
  },
  created() {
    this.etStudyId = this.$route.params.study_id
    this.getEtStudy(this.etStudyId)
    // this.studyData = this.$route.params.studyData
    this.fetchData()
    this.getArray(this.etStudyId)
    this.getDevices(this.etStudyId)
    this.getPTOsArray(this.etStudyId)
    this.get_crossmodule(this.etStudyId)
    this.getDr(this.etStudyId)
    console.log(this.device_names)

    // this.getDevice()
    // this.getPTOs()
    // this.getPTO()
  },
  methods: {
    getEtStudy(etStudyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}`
      axios.get(path)
        .then((res) => {
          this.studyData = res.data
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    fetchData() {
      this.listLoading = true
    },
    getArray(etStudyId) {
      this.loadingArray = true
      // const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/et`
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}/array`
      axios.get(path)
        .then((res) => {
          this.loadingArray = false
          const array_list = res.data
          // delete this.array_list["pto_results"]
          // delete this.array_list["et_study"]
          // delete this.array_list["array_id"]
          // delete this.array_list["device_results"]
          // delete this.array_list["Devices"]

          const taxonomy_attributes = ['id', 'Array_Tech', 'Array_number_devices', 'Hierarchy']
          const design_attributes = ['Array_mass', 'BoM']
          const energy_attributes = ['Array_E_Capt', 'Array_E_Mech', 'Array_E_Elect', 'Array_E_Grid']
          const power_attributes = ['Array_P_Capt', 'Array_P_Mech', 'Array_P_Elect', 'Array_Pa_Grid', 'Array_Pr_Grid']
          const economics_attributes = ['Array_cost']
          //const site_names = ['SeaStates']

          const taxonomy_array = []
          const design_array = []
          const energy_array = []
          const power_array = []
          const economics_array = []
          const hierarchy_cat = array_list['Hierarchy']['value']['category']
          const hierarchy_array = []

          this.site_names = array_list['SeaStates']
          // seastates_attributes.forEach(function(key, index) {
          //   site_names.push({ name: 'SS ' + index, value: index })
          // })
          console.log("site names", this.site_names)

          hierarchy_cat.forEach(function(key, index) {
            hierarchy_array.push({ gate_type: array_list['Hierarchy']['value']['gate_type'][index], name_of_node: array_list['Hierarchy']['value']['name_of_node'][index], node_type: array_list['Hierarchy']['value']['node_type'][index], category: array_list['Hierarchy']['value']['category'][index], parent: array_list['Hierarchy']['value']['parent'][index], child: array_list['Hierarchy']['value']['child'][index], failure_rate_repair: array_list['Hierarchy']['value']['failure_rate_repair'][index] })
            // console.log(this.taxonomy_array_data)
          })
          array_list['Hierarchy']['value'] = hierarchy_array

          taxonomy_attributes.forEach(function(key, index) {
            console.log(key)
            taxonomy_array.push({ property: key, value: array_list[key]['value'], label: array_list[key]['label'], unit: array_list[key]['unit'], description: array_list[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })

          const bom_cat = array_list['BoM']['value']['id']
          const bom_array = []

          bom_cat.forEach(function(key, index) {
            bom_array.push({ id: array_list['BoM']['value']['id'][index], name: array_list['BoM']['value']['name'][index], qnt: array_list['BoM']['value']['qnt'][index], uom: array_list['BoM']['value']['uom'][index], unit_cost: array_list['BoM']['value']['unit_cost'][index], total_cost: array_list['BoM']['value']['total_cost'][index] })
            // console.log(this.taxonomy_array_data)
          })

          array_list['BoM']['value'] = bom_array
          design_attributes.forEach(function(key, index) {
            console.log(key)
            design_array.push({ property: key, value: array_list[key]['value'], label: array_list[key]['label'], unit: array_list[key]['unit'], description: array_list[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })

          energy_attributes.forEach(function(key, index) {
            console.log(key)
            energy_array.push({ property: key, value: array_list[key]['value'], label: array_list[key]['label'], unit: array_list[key]['unit'], description: array_list[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })

          const captured_cat = array_list['Array_P_Capt']['value']['id']
          const captured_array = []

          captured_cat.forEach(function(key, index) {
            captured_array.push({ id: array_list['Array_P_Capt']['value']['id'][index], Power: array_list['Array_P_Capt']['value']['Power'][index] })
            // console.log(this.taxonomy_array_data)
          })
          array_list['Array_P_Capt']['value'] = captured_array

          const mechanical_cat = array_list['Array_P_Mech']['value']['id']
          const mechanical_array = []

          mechanical_cat.forEach(function(key, index) {
            mechanical_array.push({ id: array_list['Array_P_Mech']['value']['id'][index], Power: array_list['Array_P_Mech']['value']['Power'][index] })
            // console.log(this.taxonomy_array_data)
          })

          array_list['Array_P_Mech']['value'] = mechanical_array
          const elect_cat = array_list['Array_P_Elect']['value']['id']
          const elect_array = []

          elect_cat.forEach(function(key, index) {
            elect_array.push({ id: array_list['Array_P_Elect']['value']['id'][index], Power: array_list['Array_P_Elect']['value']['Power'][index] })
            // console.log(this.taxonomy_array_data)
          })
          array_list['Array_P_Elect']['value'] = elect_array

          const active_cat = array_list['Array_Pa_Grid']['value']['id']
          const active_array = []

          active_cat.forEach(function(key, index) {
            active_array.push({ id: array_list['Array_Pa_Grid']['value']['id'][index], Power: array_list['Array_Pa_Grid']['value']['Power'][index] })
            // console.log(this.taxonomy_array_data)
          })
          array_list['Array_Pa_Grid']['value'] = active_array

          const reactive_cat = array_list['Array_Pr_Grid']['value']['id']
          const reactive_array = []

          reactive_cat.forEach(function(key, index) {
            reactive_array.push({ id: array_list['Array_Pr_Grid']['value']['id'][index], Power: array_list['Array_Pr_Grid']['value']['Power'][index] })
            // console.log(this.taxonomy_array_data)
          })
          array_list['Array_Pr_Grid']['value'] = reactive_array

          power_attributes.forEach(function(key, index) {
            console.log(key)
            power_array.push({ property: key, value: array_list[key]['value'], label: array_list[key]['label'], unit: array_list[key]['unit'], description: array_list[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })

          economics_attributes.forEach(function(key, index) {
            console.log(key)
            economics_array.push({ property: key, value: array_list[key]['value'], label: array_list[key]['label'], unit: array_list[key]['unit'], description: array_list[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })

          this.taxonomy_array_data = taxonomy_array
          this.design_array_data = design_array
          this.energy_array_data = energy_array
          this.power_array_data = power_array
          this.economics_array_data = economics_array
          this.array_list = array_list
          this.listLoading = false
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    getDevices(etStudyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}/devices`
      axios.get(path)
        .then((res) => {
          const device_list = res.data
          const device_names = []

          device_list.forEach(function(key, index) {
            console.log(key)
            const device_integer= parseInt(key.id.value)+1
            device_names.push({ name: 'Device' + device_integer.toString(), value: key.device_id })
          })

          this.device_names = device_names
          this.device_list = device_list

          delete this.array_list['pto_table']
          delete this.array_list['project_table']
          delete this.array_list['array_id']
          delete this.array_list['device_table']

          // this.array_data = Object.keys(this.array_list)
          //   .map(key => ({ property: key, value: this.array_list[key]['value'], label: this.array_list[key]['label'], unit: this.array_list[key]['unit'], description: this.array_list[key]['description'] }))
          // console.log(this.array_data)
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    getDevice(etStudyId, dev_id) {
      this.loadingDevice = true

      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}/devices/${dev_id}`
      axios.get(path)
        .then((res) => {
          this.loadingDevice = false
          const device_list_single = res.data
          // delete device_list_single["pto_table"]
          // delete device_list_single["project_table"]
          // delete device_list_single["device_id"]
          // delete device_list_single["array_table"]
          const taxonomy_attributes = ['id', 'Dev_tech', 'Dev_par_PTOs', 'Dev_dof_PTO', 'Dev_Mech_type', 'Dev_Elect_type', 'Dev_Grid_type', 'Dev_Control_strat']
          const design_attributes = ['Dev_rated_power', 'Dev_PTO_mass', 'Dev_mech_mass', 'Dev_elect_mass', 'Dev_grid_mass', 'Dev_cut_in_out', 'Dev_Captured_Power']
          const energy_attributes = ['Dev_E_Capt', 'Dev_E_Mech', 'Dev_E_Elect', 'Dev_E_Grid']
          const power_attributes = ['Dev_P_Capt', 'Dev_P_Mech', 'Dev_P_Elect', 'Dev_Pa_Grid', 'Dev_Pr_Grid']
          const economics_attributes = ['Dev_PTO_cost']
          const taxonomy_device = []
          const design_device = []
          const energy_device = []
          const power_device = []
          const economics_device = []
          // const site_names = []

          taxonomy_attributes.forEach(function(key, index) {
            console.log(key)
            if (key =="id") {
              const device_id_integer= parseInt(device_list_single[key]['value'])+1
              const device_id_string = "Device"+device_id_integer.toString()
              taxonomy_device.push({ property: key, value: device_id_string, label: device_list_single[key]['label'], unit: device_list_single[key]['unit'], description: device_list_single[key]['description'] })
            } else {
              if ("value" in device_list_single[key] ) {
                taxonomy_device.push({ property: key, value: device_list_single[key]['value'], label: device_list_single[key]['label'], unit: device_list_single[key]['unit'], description: device_list_single[key]['description'] })
              } else {
                this.$notify.warning({
                title: 'Null Values',
                message: 'The variable ' + key + " is null/NaN. Please check your inputs.",
                duration:0

            })
              }

            }

            // console.log(this.taxonomy_array_data)
          })

          const cpto_cat = device_list_single['Dev_Captured_Power']['value']['C_pto']
          const cpto_device = []

          cpto_cat.forEach(function(key, index) {
            cpto_device.push({ C_pto: device_list_single['Dev_Captured_Power']['value']['C_pto'][index], sigma_v: device_list_single['Dev_Captured_Power']['value']['sigma_v'][index] })
            // console.log(this.taxonomy_array_data)
          })
          device_list_single['Dev_Captured_Power']['value'] = cpto_device

          design_attributes.forEach(function(key, index) {
            console.log(key)
            if ("value" in device_list_single[key] ) {
                design_device.push({ property: key, value: device_list_single[key]['value'], label: device_list_single[key]['label'], unit: device_list_single[key]['unit'], description: device_list_single[key]['description'] })
              } else {
                this.$notify.warning({
                title: 'Null Values',
                message: 'The variable ' + key + " is null/NaN. Please check your inputs.",
                duration:0

            })
              }
            // design_device.push({ property: key, value: device_list_single[key]['value'], label: device_list_single[key]['label'], unit: device_list_single[key]['unit'], description: device_list_single[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })

          energy_attributes.forEach(function(key, index) {
            console.log(key)
            if ("value" in device_list_single[key] ) {
                energy_device.push({ property: key, value: device_list_single[key]['value'], label: device_list_single[key]['label'], unit: device_list_single[key]['unit'], description: device_list_single[key]['description'] })
              } else {
                this.$notify.warning({
                title: 'Null Values',
                message: 'The variable ' + key + " is null/NaN. Please check your inputs.",
                duration:0

            })
              }

            // energy_device.push({ property: key, value: device_list_single[key]['value'], label: device_list_single[key]['label'], unit: device_list_single[key]['unit'], description: device_list_single[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })

          const captured_cat = device_list_single['Dev_P_Capt']['value']['id']
          const captured_device = []

          captured_cat.forEach(function(key, index) {
            captured_device.push({ id: device_list_single['Dev_P_Capt']['value']['id'][index], Power: device_list_single['Dev_P_Capt']['value']['Power'][index] })
            // console.log(this.taxonomy_array_data)
          })
          device_list_single['Dev_P_Capt']['value'] = captured_device

          const mechanical_cat = device_list_single['Dev_P_Mech']['value']['id']
          const mechanical_device = []

          mechanical_cat.forEach(function(key, index) {
            mechanical_device.push({ id: device_list_single['Dev_P_Mech']['value']['id'][index], Power: device_list_single['Dev_P_Mech']['value']['Power'][index] })
            // console.log(this.taxonomy_array_data)
          })

          device_list_single['Dev_P_Mech']['value'] = mechanical_device
          const elect_cat = device_list_single['Dev_P_Elect']['value']['id']
          const elect_device = []

          elect_cat.forEach(function(key, index) {
            elect_device.push({ id: device_list_single['Dev_P_Elect']['value']['id'][index], Power: device_list_single['Dev_P_Elect']['value']['Power'][index] })
            // console.log(this.taxonomy_array_data)
          })
          device_list_single['Dev_P_Elect']['value'] = elect_device

          const active_cat = device_list_single['Dev_Pa_Grid']['value']['id']
          const active_device = []

          active_cat.forEach(function(key, index) {
            active_device.push({ id: device_list_single['Dev_Pa_Grid']['value']['id'][index], Power: device_list_single['Dev_Pa_Grid']['value']['Power'][index] })
            // console.log(this.taxonomy_array_data)
          })
          device_list_single['Dev_Pa_Grid']['value'] = active_device

          const reactive_cat = device_list_single['Dev_Pr_Grid']['value']['id']
          const reactive_device = []

          reactive_cat.forEach(function(key, index) {
            reactive_device.push({ id: device_list_single['Dev_Pr_Grid']['value']['id'][index], Power: device_list_single['Dev_Pr_Grid']['value']['Power'][index] })
            // console.log(this.taxonomy_array_data)
          })
          device_list_single['Dev_Pr_Grid']['value'] = reactive_device

          power_attributes.forEach(function(key, index) {
            console.log(key)
            if ("value" in device_list_single[key] ) {
                power_device.push({ property: key, value: device_list_single[key]['value'], label: device_list_single[key]['label'], unit: device_list_single[key]['unit'], description: device_list_single[key]['description'] })
              } else {
                this.$notify.warning({
                title: 'Null Values',
                message: 'The variable ' + key + " is null/NaN. Please check your inputs.",
                duration:0

            })
              }
            // power_device.push({ property: key, value: device_list_single[key]['value'], label: device_list_single[key]['label'], unit: device_list_single[key]['unit'], description: device_list_single[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })
          // power_attributes.forEach(function(key, index) {
          //   console.log(key)
          //   site_names.push({ name: 'SS ' + device_list_single[key]['value']['id'], value: device_list_single[key]['value']['id'] })
          //   // console.log(this.taxonomy_array_data)
          // })

          // this.site_names = site_names

          economics_attributes.forEach(function(key, index) {
            // economics_device.push({ property: key, value: device_list_single[key]['value'], label: device_list_single[key]['label'], unit: device_list_single[key]['unit'], description: device_list_single[key]['description'] })
            // console.log(this.taxonomy_array_data)
            if ("value" in device_list_single[key] ) {
                economics_device.push({ property: key, value: device_list_single[key]['value'], label: device_list_single[key]['label'], unit: device_list_single[key]['unit'], description: device_list_single[key]['description'] })
              } else {
                this.$notify.warning({
                title: 'Null Values',
                message: 'The variable ' + key + " is null/NaN. Please check your inputs.",
                duration:0

            })
              }
          })
          this.taxonomy_device_data = taxonomy_device
          this.design_device_data = design_device
          this.energy_device_data = energy_device
          this.power_device_data = power_device
          this.economics_device_data = economics_device

          this.device_list_single = device_list_single
          // console.log(this.array_data)
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    getPTOsArray(etStudyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}/devices/pto_results`
      axios.get(path)
        .then((res) => {
          this.pto_list_array = res.data
          // delete this.array_list["pto_table"]
          // delete this.array_list["project_table"]
          // delete this.array_list["array_id"]
          // delete this.array_list["device_table"]

          // this.array_data = Object.keys(this.array_list)
          //   .map(key => ({ property: key, value: this.array_list[key]['value'], label: this.array_list[key]['label'], unit: this.array_list[key]['unit'], description: this.array_list[key]['description'] }))
          // console.log(this.array_data)
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    getPTOs(etStudyId, dev_id) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}/devices/${dev_id}/ptos`

      axios.get(path)
        .then((res) => {
          const pto_list = res.data
          const pto_names = []

          pto_list.forEach(function(key, index) {
            console.log(key)
            pto_names.push({ name: key.id.value, value: key.pto_id })
          })

          this.pto_names = pto_names
          this.pto_list = pto_list
          // delete this.array_list["pto_table"]
          // delete this.array_list["project_table"]
          // delete this.array_list["array_id"]
          // delete this.array_list["device_table"]

          // this.array_data = Object.keys(this.array_list)
          //   .map(key => ({ property: key, value: this.array_list[key]['value'], label: this.array_list[key]['label'], unit: this.array_list[key]['unit'], description: this.array_list[key]['description'] }))
          // console.log(this.array_data)
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    getPTO(etStudyId, dev_id, pto_id) {
      this.loadingPTO = true
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}/devices/${dev_id}/ptos/${pto_id}`
      axios.get(path)
        .then((res) => {
          this.loadingPTO = false
          const pto_list_single = res.data

          const array_output = this.array_list

          const taxonomy_attributes = ['id']
          const design_attributes = ['Mech_mass', 'Mech_size', 'MechT_omega', 'Elect_P_rated', 'Elect_mass', 'ElecT_omega', 'Grid_P_rated', 'Grid_V', 'Grid_mass']
          const energy_attributes = ['Captured_Energy', 'MechT_Energy', 'ElectT_Energy', 'GridC_Energy']
          const power_attributes = ['Captured_Power', 'MechT_Power', 'ElectT_Power', 'GridC_Active_Power', 'GridC_reactive_Power']
          const eff_attributes = ['MechT_eff', 'ElecT_eff', 'GridC_eff']
          const economics_attributes = ['Mech_cost', 'Elect_cost', 'Grid_cost']
          const reliability_attributes = ['MechT_Damage', 'ElectT_Damage', 'GridC_Damage']
          const taxonomy_pto = []
          const design_pto = []
          const energy_pto = []
          const power_pto = []
          const eff_pto = []
          const economics_pto = []
          const reliability_pto = []

          // delete this.pto_list_single["pto_id"]
          // delete this.pto_list_single["project_table"]
          // delete this.pto_list_single["device_table"]
          // delete this.pto_list_single["array_table"]
          // delete this.pto_list_single["MechT_Load_Range"]
          // delete this.pto_list_single["MechT_Loads"]
          // delete this.pto_list_single["PTO"]
          taxonomy_attributes.forEach(function(key, index) {
            if ("value" in pto_list_single[key] ) {
                taxonomy_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
              } else {
                this.$notify.warning({
                title: 'Null Values',
                message: 'The variable ' + key + " is null/NaN. Please check your inputs.",
                duration:0

            })
              }
            // taxonomy_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })

          const mechspeed = pto_list_single['MechT_omega']['value']
          const mechspeed_pto = []

          mechspeed.forEach(function(key, index) {
            mechspeed_pto.push({ id: array_output['Array_P_Capt']['value'][index]['id'], value: pto_list_single['MechT_omega']['value'][index] })
            // console.log(this.taxonomy_array_data)
          })
          pto_list_single['MechT_omega']['value'] = mechspeed_pto

          design_attributes.forEach(function(key, index) {
            if ("value" in pto_list_single[key] ) {
                design_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
              } else {
                this.$notify.warning({
                title: 'Null Values',
                message: 'The variable ' + key + " is null/NaN. Please check your inputs.",
                duration:0

            })
              }
            // design_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
            // console.log('-*-*-*-*-*-*-*',design_pto)
          })

          energy_attributes.forEach(function(key, index) {
            if ("value" in pto_list_single[key] ) {
                energy_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
              } else {
                this.$notify.warning({
                title: 'Null Values',
                message: 'The variable ' + key + " is null/NaN. Please check your inputs.",
                duration:0

            })
              }
            // energy_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })

          const captured_cat = pto_list_single['Captured_Power']['value']
          const captured_pto = []

          captured_cat.forEach(function(key, index) {
            captured_pto.push({ id: array_output['Array_P_Capt']['value'][index]['id'], Power: pto_list_single['Captured_Power']['value'][index] })
            // console.log(this.taxonomy_array_data)
          })
          pto_list_single['Captured_Power']['value'] = captured_pto

          const mechanical_cat = pto_list_single['MechT_Power']['value']
          const mechanical_pto = []

          mechanical_cat.forEach(function(key, index) {
            mechanical_pto.push({ id: array_output['Array_P_Capt']['value'][index]['id'], Power: pto_list_single['MechT_Power']['value'][index] })
            // console.log(this.taxonomy_array_data)
          })
          pto_list_single['MechT_Power']['value'] = mechanical_pto

          const electrical_cat = pto_list_single['ElectT_Power']['value']
          const electrical_pto = []

          electrical_cat.forEach(function(key, index) {
            electrical_pto.push({ id: array_output['Array_P_Capt']['value'][index]['id'], Power: pto_list_single['ElectT_Power']['value'][index] })
            // console.log(this.taxonomy_array_data)
          })
          pto_list_single['ElectT_Power']['value'] = electrical_pto

          const active_cat = pto_list_single['GridC_Active_Power']['value']
          const active_pto = []

          active_cat.forEach(function(key, index) {
            active_pto.push({ id: array_output['Array_P_Capt']['value'][index]['id'], Power: pto_list_single['GridC_Active_Power']['value'][index] })
            // console.log(this.taxonomy_array_data)
          })
          pto_list_single['GridC_Active_Power']['value'] = active_pto

          const reactive_cat = pto_list_single['GridC_reactive_Power']['value']
          const reactive_pto = []

          reactive_cat.forEach(function(key, index) {
            reactive_pto.push({ id: array_output['Array_P_Capt']['value'][index]['id'], Power: pto_list_single['GridC_reactive_Power']['value'][index] })
            // console.log(this.taxonomy_array_data)
          })
          pto_list_single['GridC_reactive_Power']['value'] = reactive_pto

          power_attributes.forEach(function(key, index) {
            if ("value" in pto_list_single[key] ) {
                power_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
              } else {
                this.$notify.warning({
                title: 'Null Values',
                message: 'The variable ' + key + " is null/NaN. Please check your inputs.",
                duration:0

            })
              }
            console.log(key)
            // power_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })

          const mecheff_cat = pto_list_single['MechT_eff']['value']
          const mecheff_pto = []

          mecheff_cat.forEach(function(key, index) {
            mecheff_pto.push({ id: array_output['Array_P_Capt']['value'][index]['id'], Eff: pto_list_single['MechT_eff']['value'][index] })
            // console.log(this.taxonomy_array_data)
          })
          pto_list_single['MechT_eff']['value'] = mecheff_pto

          const eleceff_cat = pto_list_single['ElecT_eff']['value']
          const eleceff_pto = []

          eleceff_cat.forEach(function(key, index) {
            eleceff_pto.push({ id: array_output['Array_P_Capt']['value'][index]['id'], Eff: pto_list_single['ElecT_eff']['value'][index] })
            // console.log(this.taxonomy_array_data)
          })
          pto_list_single['ElecT_eff']['value'] = eleceff_pto

          const grideff_cat = pto_list_single['GridC_eff']['value']
          const grideff_pto = []

          grideff_cat.forEach(function(key, index) {
            grideff_pto.push({ id: array_output['Array_P_Capt']['value'][index]['id'], Eff: pto_list_single['GridC_eff']['value'][index] })
            // console.log(this.taxonomy_array_data)
          })
          pto_list_single['GridC_eff']['value'] = grideff_pto

          eff_attributes.forEach(function(key, index) {
            if ("value" in pto_list_single[key] ) {
                eff_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
              } else {
                this.$notify.warning({
                title: 'Null Values',
                message: 'The variable ' + key + " is null/NaN. Please check your inputs.",
                duration:0

            })
              }
            console.log(key)
            // eff_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })

          economics_attributes.forEach(function(key, index) {
            if ("value" in pto_list_single[key] ) {
                economics_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
              } else {
                this.$notify.warning({
                title: 'Null Values',
                message: 'The variable ' + key + " is null/NaN. Please check your inputs.",
                duration:0

            })
              }
            // economics_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })

          reliability_attributes.forEach(function(key, index) {
            if ("value" in pto_list_single[key] ) {
                reliability_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
              } else {
                this.$notify.warning({
                title: 'Null Values',
                message: 'The variable ' + key + " is null/NaN. Please check your inputs.",
                duration:0

            })
              }
            // reliability_pto.push({ property: key, value: pto_list_single[key]['value'], label: pto_list_single[key]['label'], unit: pto_list_single[key]['unit'], description: pto_list_single[key]['description'] })
            // console.log(this.taxonomy_array_data)
          })

          this.taxonomy_pto_data = taxonomy_pto
          this.design_pto_data = design_pto
          this.energy_pto_data = energy_pto
          this.power_pto_data = power_pto
          this.eff_pto_data = eff_pto
          this.economics_pto_data = economics_pto
          this.reliability_pto_data = reliability_pto

          this.pto_list_single = pto_list_single
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    get_crossmodule(etStudyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}/crossmodule`
      axios.get(path)
        .then((res) => {
          this.ec_data = res.data.ec_data
          this.mc_data = res.data.mc_data
          this.sc_data = res.data.sc_data
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    GetImage(etStudyId, dev_id, pto_id, site_id) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}/devices/${dev_id}/ptos/${pto_id}/sites/${site_id}/getimage`
      return axios.post(path)
        .then((res) => {
          this.image1 = `data:image/png;base64, ${res.data}`
        })
    },
    handleChange(val) {
      console.log(val)
    },
    handleClick(tab, event) {
      console.log(tab, event)
    },
    saveToFile(jsonData, filename) {
      const jsonDataString = JSON.stringify(jsonData)
      const blob = new Blob([jsonDataString], { type: 'text/plain;charset=utf-8;' })
      if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, filename)
      } else {
        const link = document.createElement('a')
        if (link.download !== undefined) { // feature detection
          // Browsers that support HTML5 download attribute
          const url = URL.createObjectURL(blob)
          link.setAttribute('href', url)
          link.setAttribute('download', filename)
          link.style.visibility = 'hidden'
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
        }
      }
    },
    onSelectDevice(dev_id) {
      this.getDevice(this.etStudyId, dev_id)
      this.value_pto = ''
      this.getPTOs(this.etStudyId, dev_id)
      this.pto_id = null
      this.dev_id = dev_id
      console.log(dev_id)
    },
    onSelectPTO(pto_id) {
      this.getPTO(this.etStudyId, this.dev_id, pto_id)
      this.pto_id = pto_id
      // payload = ptoname
      console.log(pto_id)
    },
    onSelectSite(site_id) {
      this.site_id = site_id
      this.GetImage(this.etStudyId, this.dev_id, this.pto_id, this.site_id)
      console.log(site_id)
    },
    openPlot() {
    //   payload = device_names
      this.GetImage(this.etStudyId, this.dev_id, this.pto_id)
    },
    onExportDr() {

      // console.log(this.dr_data)
      this.saveToFile(this.dr_data, 'ET_DR.json')
    },
    saveToFile(jsonData, filename) {
      const jsonDataString = JSON.stringify(jsonData)
      const blob = new Blob([jsonDataString], { type: 'text/plain;charset=utf-8;' })
      if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, filename)
      } else {
        const link = document.createElement('a')
        if (link.download !== undefined) { // feature detection
          // Browsers that support HTML5 download attribute
          const url = URL.createObjectURL(blob)
          link.setAttribute('href', url)
          link.setAttribute('download', filename)
          link.style.visibility = 'hidden'
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
        }
      }
    },
    getDr(etId) {
      const path = `${process.env.VUE_APP_API_URL}/representation/${etId}`
      console.log(path)
      axios.get(path)
        .then((res) => {
          this.dr_data = res.data
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
  }
}
</script>

