<!--
This is is the Energy Transformation Module (ET) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 2021 TECNALIA - Eider Robles, Vincenzo Nava, Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <div>
      <el-header>
        <p><b>Name of Study: </b> {{ "studyData.name" }}</p> <!--remove quotation marks when working -->
        <p><b>Description: </b> {{ "studyData.description" }}</p>
        <p><b>Generator Complexity Level: </b> {{ "studyData.complexity this page should be cmpx=3" }}</p>
        <br>
      </el-header>
    </div>
    <br><br><br><br>
    <div><h2>Generator inputs</h2></div>
    <br><br>
    <div>
      <el-form ref="form" :model="form" label-width="300px">
        <el-form-item label="Electrical Conversion Type">
          <el-select v-model="form.ElectConv" placeholder="please select the type of electrical conversion" style="min-width:100%;">
            <el-option label="DFIG Generator" value="dfig" />
            <el-option label="SCIG Generator" value="scig" />
            <el-option label="Linear Generator" value="linear" />
            <el-option label="User Defined" value="user_defined" />
          </el-select>
        </el-form-item>
        <el-form-item label="Electrical Conversion Rated Power">
          <el-input v-model="form.ElectConRatedPower" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator Nominal Voltage (V)">
          <el-input v-model="form.GenVnom" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator Nominal Current (A)">
          <el-input v-model="form.GenInom" placeholder="Please input" />
        </el-form-item>     
        <el-form-item label="Generator Nominal Frequency (Hz)">
          <el-input v-model="form.GenFnom" placeholder="Please input" />
        </el-form-item>   
        <el-form-item label="Generator Resistance (ohm)">
          <el-input v-model="form.GenRes" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator Inductance (Hr)">
          <el-input v-model="form.GenL" placeholder="Please input" />
        </el-form-item> 
        <el-form-item label="Generator Pairs of poles">
          <el-input v-model="form.GenPoles" placeholder="Please input" />
        </el-form-item>                               
        <el-form-item label="Generator Shaft Diameter (m)">
          <el-input v-model="form.GenShatfDiam" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator Mass (Kg)">
          <el-input v-model="form.GenMass" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator Maximum Torque (Nm)">
          <el-input v-model="form.GenMmax" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator Maximum Voltage (V)">
          <el-input v-model="form.GenVmax" placeholder="Please input" />
        </el-form-item>        
        <el-form-item label="Generator Magnetic Flux Density (T)">
          <el-input v-model="form.GenB" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator sigma h (-)">
          <el-input v-model="form.GenSigmah" placeholder="Histeresis loss coefficient" />
        </el-form-item>
        <el-form-item label="Generator sigma e (-)">
          <el-input v-model="form.GenSigmae" placeholder="Eddy current loss coefficient" />
        </el-form-item>
        <el-form-item label="Generator Plate thickness (mm)">
          <el-input v-model="form.GenThickMax" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator Winding Mass fraction (?)">
          <el-input v-model="form.GenWindMass" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator x coefficients">
          <el-input v-model="form.GenXf" placeholder=" x1, x2 and x3 linear functions coeffs of the nominal rot_speed (rpm)" />
        </el-form-item>        
        <el-form-item label="Generator phi cos (0-1)">
          <el-input v-model="form.GenPhiCos" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator cost per kW (€)">
          <el-input v-model="form.GenCost" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator_manufacturer">
          <el-input v-model="form.GenManugacturer" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator_date">
          <el-input v-model="form.GenDate" placeholder="Please input" />
        </el-form-item>        
        <div>Generator data for Life Assesment</div>         
        <el-form-item label="Generator k [-]">
          <el-input v-model="form.GenK" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator k0 [-]">
          <el-input v-model="form.GenK0" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator TMAX (ºC)">
          <el-input v-model="form.GenTmax" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Generator Class">
          <el-select v-model="form.GenClass" placeholder="please select the class of the generator" style="min-width:100%;">
            <el-option label="A" value="A" />
            <el-option label="B" value="B" />
            <el-option label="F" value="F" />
            <el-option label="H" value="H" />
          </el-select>
        </el-form-item>        
      </el-form>
      <el-button type="Import" style="width:250px;position:relative;left=20px;top:0px">Import values from other modules</el-button>
      <el-button type="Discard" style="width:175px;position:relative;left:5px;top:0px">Discard modifications</el-button>
      <el-button type="Save" style="width:75px;position:relative;left:10px;top:0px">Save</el-button>
      <el-button type="Run" style="width:125px;position:relative;left:10px;top:0px">Save and Run</el-button>
      <p />
    </div>  
  </div>
</template>
<script>

export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      form: {
      },
      listLoading: true
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() { this.listLoading = false },
    handleChange(value) {
      console.log(value)
    }
  }
}
</script>
