<!--
This is is the Energy Transformation Module (ET) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 2021 TECNALIA - Eider Robles, Vincenzo Nava, Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-form ref="form" :model="form" label-width="230px">
      <el-form-item label="Hs/Vc cut-in/cut-out">
        <el-input v-model="form.HsVc" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Control Strategy">
        <el-select v-model="form.ControlStrategy" placeholder="please select the control strategy" style="min-width:100%;">
          <el-option label="Active" value="active" />
          <el-option label="Reactive" value="reactive" />
          <el-option label="Latching" value="latching" />
          <el-option label="User Defined" value="user_defined" />
        </el-select>
      </el-form-item>
      <el-form-item label="Mechanical Conversion Type">
        <el-select v-model="form.MechanicalConversion" placeholder="please select the mechanical conversion type" style="min-width:100%;">
          <el-option label="Direct Mech" value="direct_mech" />
          <el-option label="Hydraulic" value="hydraulic" />
          <el-option label="Air Turbine" value="air_turbine" />
          <el-option label="User Defined" value="user_defined" />
        </el-select>
      </el-form-item>
      <el-form-item label="Mechanical Conversion Size">
        <el-input v-model="form.MechanicalConversionSize" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine ID">
        <el-input v-model="form.TurbineID" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Material">
        <el-input v-model="form.TurbineMaterial" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Date">
        <el-input v-model="form.turbineDate" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Manufacturer">
        <el-input v-model="form.turbineManufacturer" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Type">
        <el-input v-model="form.turbineType" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Diameter">
        <el-input v-model="form.turbineDiameter" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Velocity">
        <el-input v-model="form.turbineVelocity" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Pressure Drop">
        <el-input v-model="form.turbinePressureDrop" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Torque">
        <el-input v-model="form.turbineTorque" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine m1">
        <el-input v-model="form.turbinem1" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Log(a1)">
        <el-input v-model="form.turbineLoga1" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine m2">
        <el-input v-model="form.turbinem2" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Log(a2)">
        <el-input v-model="form.turbineLoga2" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Mass">
        <el-input v-model="form.turbineMass" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Cost">
        <el-input v-model="form.turbineCost" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Shaft Diameter">
        <el-input v-model="form.turbineShaftDiameter" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Number of Blades">
        <el-input v-model="form.turbineNumberBlades" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Thickness">
        <el-input v-model="form.turbineThickness" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Torque">
        <el-input v-model="form.turbineTorque" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Blade Length">
        <el-input v-model="form.turbineBladeLength" placeholder="Please input" />
      </el-form-item>
      <el-form-item label="Turbine Blade Width">
        <el-input v-model="form.turbineBladeWidth" placeholder="Please input" />
      </el-form-item>
    </el-form>
    <el-table
      v-loading="listLoading"
      :data="tableData_2"
      element-loading-text="Loading"
      fit
      highlight-current-row
      style="min-width:100%;"
    >
      <el-table-column
        prop="parameter"
        width="600%"
      />
      <el-table-column
        prop="value"
        width="600%"
      />
    </el-table>
    <p />
    <el-button type="Import" style="width:250px;position:relative;left=20px;top:0px">Import values from other modules</el-button>
    <el-button type="Discard" style="width:175px;position:relative;left:5px;top:0px">Discard modifications</el-button>
    <el-button type="Save" style="width:75px;position:relative;left:10px;top:0px">Save</el-button>
    <el-button type="Run" style="width:125px;position:relative;left:10px;top:0px">Save and Run</el-button>
    <p />
  </div>
</template>
<script>

export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      form: {
      },
      listLoading: true,
      tableData_2: [
        {
          parameter: 'Numeber of PTOs per device',
          value: 'Module output -EC'
        },
        {
          parameter: 'PTO ID',
          value: 'Module output -EC'
        },
        {
          parameter: 'Cpto',
          value: 'Module output -EC'
        },
        {
          parameter: 'Mean Captured Power',
          value: 'Module output -EC'
        }
      ]
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() { this.listLoading = false },
    handleChange(value) {
      console.log(value)
    }
  }
}
</script>
