<!--
This is is the Energy Transformation Module (ET) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 2021 TECNALIA - Eider Robles, Vincenzo Nava, Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <div>
      <el-header>
        <p><b>Name of Study: </b> {{ "studyData.name" }}</p> <!--remove quotation marks when working -->
        <p><b>Description: </b> {{ "studyData.description" }}</p>
        <p><b>Power Electronics Complexity Level: </b> {{ "studyData.complexity this page should be cmpx=3" }}</p>
        <br>
      </el-header>
    </div>
    <br><br><br><br>
    <div><h2>Power Electronics inputs</h2></div>
    <br><br>
    <div>
      <el-form ref="form" :model="form" label-width="300px">
        <el-form-item label="Grid Conditioning Type">
          <el-select v-model="form.GridCondType" placeholder="please select the Power Converter technology" style="min-width:100%;">
            <el-option label="Back-to-Back 2 level" value="B2B2Level" />
          </el-select>
        </el-form-item>
        <el-form-item label="Grid Conditioning Rated Power (W)">
          <el-input v-model="form.GridConditioningRatedPower" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="DC Link voltage (V)">
          <el-input v-model="form.Vdc" placeholder="Please input" />
        </el-form-item>      
        <el-form-item label="Power Converter Switching Frequency (Hz)">
          <el-input v-model="form.Fsw" placeholder="Please input" />
        </el-form-item>       
        <el-form-item label="Grid connection Resistance (ohm)">
          <el-input v-model="form.Rgrid" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Grid connection Inductance (Hr)">
          <el-input v-model="form.Lgrid" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Grid rms voltage (V)">
          <el-input v-model="form.Vgrid " placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Grid frequency (Hz)">
          <el-input v-model="form.Fgrid " placeholder="Please input" />
        </el-form-item> 
        <el-form-item label="Grid Cosphi">
          <el-input v-model="form.GridCosphi " placeholder="Please input" />
        </el-form-item> 
        <el-form-item label="Power Converter Mass (Kg)">
          <el-input v-model="form.GridConditioningMass " placeholder="Please input" />
        </el-form-item> 
        <el-form-item label="Power Converter Cost (€)">
          <el-input v-model="form.GridConditioningCost " placeholder="Please input" />
        </el-form-item>           
        <el-form-item label="Converter Manufacturer">
          <el-input v-model="form.ConverterManufacturer" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Converter Date">
          <el-input v-model="form.ConverterDate" placeholder="Please input" />
        </el-form-item>          
        <div>Power Electronics data for Life Assesment</div>       
        <el-tooltip content="Add a description here" placement="top" effect="light" open-delay="800">
          <el-form-item label="Converter k [-]">
            <el-input v-model="form.Converterk" placeholder="Please input" />
          </el-form-item>
        </el-tooltip>
        <el-form-item label="Converter k0 [-]">
          <el-input v-model="form.Converterk0" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Converter Tmax (ºC)">
          <el-input v-model="form.ConverterTmax" placeholder="Please input" />
        </el-form-item>
        <el-form-item label="Converter Trated (ºC)">
          <el-input v-model="form.ConverterTrated" placeholder="Please input" />
        </el-form-item>
        <div>IGBT data from Datasheet for losses calculation</div>    
        <el-form-item label="IGBT Vceo (V)">
          <el-input v-model="form.Converter_IGBT_Vceo" placeholder="on-state zero-current collector-emitter voltage of the IGBT" />
        </el-form-item>
        <el-form-item label="IGBT Rce (ohm)">
          <el-input v-model="form.Converter_IGBT_Rce" placeholder="collector emitter on-state resistance of the IGBT" />
        </el-form-item>
        <el-form-item label="IGBT Vcc (V)">
          <el-input v-model="form.Converter_IGBT_Vnom" placeholder="nominal voltage of the IGBT" />
        </el-form-item>
        <el-form-item label="IGBT a fit">
          <el-input v-model="form.Converter_IGBT_a_fit" placeholder="fitting parameter a of the switching losses curve of the IGBT" />
        </el-form-item>
        <el-form-item label="IGBT b fit">
          <el-input v-model="form.Converter_IGBT_b_fit" placeholder="fitting parameter b of the switching losses curve of the IGBT" />
        </el-form-item>
        <el-form-item label="IGBT c fit">
          <el-input v-model="form.Converter_IGBT_c_fit" placeholder="fitting parameter c of the switching losses curve of the IGBT" />
        </el-form-item>
        <div>Diode data from Datasheet for losses calculation</div>    
        <el-form-item label="Diode Vfo (V)">
          <el-input v-model="form.Converter_Diode_Vfo" placeholder="zero-current forward voltage of the Diode" />
        </el-form-item>
        <el-form-item label="Diode Rt (ohm)">
          <el-input v-model="form.Converter_Diode_Rt" placeholder="forward resistance of the Diode" />
        </el-form-item>
        <el-form-item label="Diode Vcc (V)">
          <el-input v-model="form.Converter_Diode_Vnom" placeholder="nominal voltage of the Diode" />
        </el-form-item>
        <el-form-item label="Diode a fit">
          <el-input v-model="form.Converter_Diode_a_fit" placeholder="fitting parameter a of the switching losses curve of the Diode" />
        </el-form-item>
        <el-form-item label="Diode b fit">
          <el-input v-model="form.Converter_Diode_b_fit" placeholder="fitting parameter b of the switching losses curve of the Diode" />
        </el-form-item>
        <el-form-item label="Diode c fit">
          <el-input v-model="form.Converter_Diode_c_fit" placeholder="fitting parameter c of the switching losses curve of the Diode" />
        </el-form-item>        
      </el-form>
      <el-table
        v-loading="listLoading"
        :data="tableData_2"
        element-loading-text="Loading"
        fit
        highlight-current-row
        style="min-width:100%;"
      >
        <el-table-column
          prop="parameter"
          width="600%"
        />
        <el-table-column
          prop="value"
          width="600%"
        />
      </el-table>
      <p />
      <el-button type="Import" style="width:250px;position:relative;left=20px;top:0px">Import values from other modules</el-button>
      <el-button type="Discard" style="width:175px;position:relative;left:5px;top:0px">Discard modifications</el-button>
      <el-button type="Save" style="width:75px;position:relative;left:10px;top:0px">Save</el-button>
      <el-button type="Run" style="width:125px;position:relative;left:10px;top:0px">Save and Run</el-button>
      <p />
    </div>
  </div>
</template>
<script>

export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      form: {
      },
      listLoading: true,
      tableData_2: [
        {
          parameter: 'Grid frequency [Hz]',
          value: 'Module output -EC'
        },
        {
          parameter: 'Converter_IGBT_Vceo [V]',
          value: 'Module output -EC'
        },
        {
          parameter: 'Converter_IGBT_Rce [ohm]',
          value: 'Module output -EC'
        },
        {
          parameter: 'Converter Vcc [V]',
          value: 'Module output -EC'
        },
        {
          parameter: 'Converter_IGBT_a_fit',
          value: 'Module output -EC'
        },
        {
          parameter: 'Converter_IGBT_b_fit',
          value: 'Module output -EC'
        },
        {
          parameter: 'Converter_IGBT_c_fit',
          value: 'Module output -EC'
        },
        {
          parameter: 'Converter_Diode_VDC [V]',
          value: 'Module output -EC'
        },
        {
          parameter: 'Converter_Diode_a_fit',
          value: 'Module output -EC'
        },
        {
          parameter: 'Converter_Diode_b_fit',
          value: 'Module output -EC'
        },
        {
          parameter: 'Converter_Diode_c_fit',
          value: 'Module output -EC'
        }
      ]
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() { this.listLoading = false },
    handleChange(value) {
      console.log(value)
    }
  }
}
</script>
