<!--
This is is the Energy Transformation Module (ET) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 2021 TECNALIA - Eider Robles, Vincenzo Nava, Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-form ref="form" :model="form" label-width="250px">
      <el-form-item label="Energy Transformation Project ID">
        <el-input v-model="form.ProjectID" placeholder="please input the ID" />
      </el-form-item>
      <el-form-item label="Number of devices">
        <template>
          <el-input-number v-model="form.NDevices" :min="1" @change="handleChange" />
        </template>
      </el-form-item>
      <el-form-item label="Technology">
        <el-select v-model="form.technology" placeholder="please select the technology" style="min-width:100%;">
          <el-option label="Wave" value="Wave" />
          <el-option label="Tidal" value="Tidal" />
        </el-select>
      </el-form-item>
      <el-form-item label="Device Shutdown Flag">
        <el-input v-model="form.DeviceShutdownFlag" placeholder="minimum number of PTOs to have the device ON (i.e. in operation) out of the total PTOs within it" />
      </el-form-item>
      <el-form-item label="PTO Complexity level">
        <el-select v-model="form.stage" placeholder="please select the CL" style="min-width:100%;">
          <el-option label="Complexity Level 1" value="CL1" />
          <el-option label="Complexity Level 2" value="CL2" />
          <el-option label="Complexity Level 3" value="CL3" />
        </el-select>
      </el-form-item>
      <el-form-item label="Generator Complexity level">
        <el-select v-model="form.stage" placeholder="please select the CL" style="min-width:100%;">
          <el-option label="Complexity Level 1" value="CL1" />
          <el-option label="Complexity Level 2" value="CL2" />
          <el-option label="Complexity Level 3" value="CL3" />
        </el-select>
      </el-form-item>
      <el-form-item label="Power Electronics Complexity level">
        <el-select v-model="form.stage" placeholder="please select the CL" style="min-width:100%;">
          <el-option label="Complexity Level 1" value="CL1" />
          <el-option label="Complexity Level 2" value="CL2" />
          <el-option label="Complexity Level 3" value="CL3" />
        </el-select>
      </el-form-item>
    </el-form>
    <p />
    <el-table
      v-loading="listLoading"
      :data="tableData_2"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      style="min-width:100%;"
    >
      <el-table-column
        prop="parameter"
        label="Parameter"
        width="600%"
      />
      <el-table-column
        prop="value"
        label="Module output - EC"
        width="600%"
      />
    </el-table>
    <p />
    <el-button type="Import" style="width:250px;position:relative;left=20px;top:0px">Import values from other modules</el-button>
    <el-button type="Discard" style="width:175px;position:relative;left:5px;top:0px">Discard modifications</el-button>
    <el-button type="Save" style="width:75px;position:relative;left:10px;top:0px">Save</el-button>
    <el-button type="Run" style="width:125px;position:relative;left:10px;top:0px">Save and Run</el-button>
    <p />
  </div>
</template>
<script>

export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      form: {
        ProjectID: '',
        NDevices: 1,
        Technology: '',
        Stage: ''
      },
      listLoading: true,
      tableData_2: [
        {
          parameter: 'Device ID',
          value: 'Module output -EC'
        },
        {
          parameter: 'Environmental Conditions (used for EC)',
          value: 'Module output -EC'
        },
        {
          parameter: 'Environmental Conditions (Occurrence)',
          value: 'Module output -EC'
        }
      ]
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() { this.listLoading = false },
    handleChange(value) {
      console.log(value)
    }
  }
}
</script>
