<!--
This is is the Energy Transformation Module (ET) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 2021 TECNALIA - Eider Robles, Vincenzo Nava, Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <h1>Inputs from Energy Transformation</h1>
    <h2>Study details</h2>
    <p><i>Name: </i> <span>{{ studyData.name }}</span></p>
    <p><i>Description: </i> {{ studyData.description }}</p>
    <p><i>Technology: </i> {{ technology }}</p>
    <!-- <p>
      <i>Standalone mode: </i>
      <span v-if="studyData.standalone">Yes</span>
      <span v-else>No</span>
    </p> -->
    <p v-if=" !studyData.standalone"><i>Site Characterisation ID: </i> {{ studyData.site_characterisation_study_id }}</p>
    <p v-if=" !studyData.standalone"><i>Machine Characterisation ID: </i> {{ studyData.machine_characterisation_study_id }}</p>
    <p v-if=" !studyData.standalone"><i>Energy Capture ID: </i> {{ studyData.energy_capture_study_id }}</p>
    <h2>Input data</h2>
    <el-form
      label-position="right"
      v-loading="loading"
      element-loading-text="Running..."
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)"
      label-width="300px"
      :model="inputData">
      <el-collapse v-model="activeInputSections" accordion @change="handleChange">
        <el-collapse-item title="General" name="1">
          <el-form-item v-if="technology === 'Wave'" label="Parallel PTOs">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Number of power-take offs (PTOs) per device." placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.general_inputs.parallel_ptos"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item label="Device Shutdown Flag">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Minimum number of PTOs required to be active for the device to be operational" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.general_inputs.dev_shut_flag"
                  :min="0"
                  :max="inputData.general_inputs.parallel_ptos"
                />
              </el-col>
            </el-row>
          </el-form-item>
        </el-collapse-item>
        <el-collapse-item title="Mechanical transformation" name="2" @change="calculateRatio()">
          <el-form-item label="Mechanical complexity level">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Complexities 2 and 3 are only available if complexity of external modules is more than 1" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-select v-model="inputData.mechanical_inputs.complexity_level" placeholder="Please select" @change="checkControl()">
                  <el-option label="1" :value="1" />
                  <el-option v-if="max_cmpx > 1" label="2" :value="2" />
                  <el-option v-if="max_cmpx > 1" label="3" :value="3" />
                </el-select>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="(inputData.mechanical_inputs.complexity_level === 2 || inputData.mechanical_inputs.complexity_level === 3) && (technology === 'Wave' || (technology === 'Tidal' && !inputData.mechanical_inputs.direct_drive))" label="Mechanical transformation type">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Airturbine, Hydraulic, Linear to rotational motion system or a Gearbox in Tidal" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-select v-model="inputData.mechanical_inputs.Type" placeholder="Please select" @change="removeDirectDrive()">
                  <el-option v-if="technology === 'Tidal' && !inputData.mechanical_inputs.direct_drive && inputData.mechanical_inputs.complexity_level == 2" label="Gearbox" value="Gearbox" />
                  <el-option v-if="technology === 'Tidal' && !inputData.mechanical_inputs.direct_drive && inputData.mechanical_inputs.complexity_level === 3" label="Gearbox" value="Gearbox" disabled = "true" />
                  <el-option v-if="technology === 'Wave'" label="Linear to rotational system" value="Gearbox" />
                  <el-option v-if="technology === 'Wave'" label="Hydraulic" value="Hydraulic" />
                  <el-option v-if="technology === 'Wave'" label="Air turbine" value="AirTurbine" />
                </el-select>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.mechanical_inputs.complexity_level === 3 && inputData.mechanical_inputs.Type === 'AirTurbine' " label="Mechanical object from catalogue">
            <el-select v-model="inputData.mechanical_inputs.name" placeholder="Please select">
              <el-option
                v-for="item in inputData.mechanical_inputs.catalogue_turb"
                :key="item"
                :label="item"
                :value="item"
                :disabled="item.disabled"
              />
            </el-select>
          </el-form-item>
          <el-form-item v-if="inputData.mechanical_inputs.complexity_level === 3 && inputData.mechanical_inputs.Type === 'Hydraulic' " label="Mechanical object from catalogue">
            <el-select v-model="inputData.mechanical_inputs.name" placeholder="Please select">
              <el-option
                v-for="item in inputData.mechanical_inputs.catalogue_hyd"
                :key="item"
                :label="item"
                :value="item"
                :disabled="item.disabled"
              />
            </el-select>
          </el-form-item>
          <el-form-item v-if="inputData.mechanical_inputs.complexity_level === 3 && inputData.mechanical_inputs.Type === 'Gearbox' " label="Mechanical object from catalogue">
            <el-select v-model="inputData.mechanical_inputs.name" placeholder="Please select">
              <el-option
                v-for="item in inputData.mechanical_inputs.catalogue_gb"
                :key="item"
                :label="item"
                :value="item"
                :disabled="item.disabled"
              />
            </el-select>
          </el-form-item>
          <el-form-item v-if="(inputData.mechanical_inputs.complexity_level === 2) && inputData.mechanical_inputs.Type === 'AirTurbine'" label="Air turbine type">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Type of air turbine" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-select v-model="inputData.mechanical_inputs.turb_type" placeholder="Please select">
                  <el-option label="Wells" value="Wells" />
                  <el-option label="Impulse" value="Impulse" />
                </el-select>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="(inputData.mechanical_inputs.complexity_level === 2 || inputData.mechanical_inputs.complexity_level === 3) && (inputData.mechanical_inputs.Type !== 'Gearbox'|| technology === 'Tidal')" label="Direct-drive option?" :label-width="formLabelWidth">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Check if direct-drive option is desired. Otherwise a gearbox will be used" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-checkbox v-if="inputData.mechanical_inputs.Type !== 'Gearbox' || technology === 'Tidal'" v-model="inputData.mechanical_inputs.direct_drive" @change="forceDirectDrive(technology)" />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.mechanical_inputs.complexity_level === 1 || ((inputData.mechanical_inputs.complexity_level === 2 || inputData.mechanical_inputs.complexity_level === 3) && (!inputData.mechanical_inputs.direct_drive && inputData.mechanical_inputs.Type === 'Gearbox'))" label="Rated power [kW]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Rated power (mechanical conversion size) in kW" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.mechanical_inputs.rated_power"
                  :min="0"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="!inputData.mechanical_inputs.direct_drive && (inputData.mechanical_inputs.complexity_level === 2 || inputData.mechanical_inputs.complexity_level === 3) && inputData.mechanical_inputs.Type !== 'Gearbox'" label="Mechanical transformation ratio [-]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Relationship between the mechanical rotation obtained from the mechanical transformation and the speed of the generator shaft [dimensionless]. Consider that the output rotational speed will be the input to the electrical generator" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.mechanical_inputs.mech_t_ratio"
                  :min="0"
                  :step="0.5"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.mechanical_inputs.complexity_level === 1" label="Transmission ratio [-]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Relationship between the speed of the device and rotating speed for a simplified mechanical transformation assumption [dimensionless]" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.mechanical_inputs.t_ratio"
                  :min="0"
                  :max="1000"
                  :disabled="true"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="(inputData.mechanical_inputs.complexity_level === 2 || inputData.mechanical_inputs.complexity_level === 3) && (!inputData.mechanical_inputs.direct_drive && inputData.mechanical_inputs.Type === 'Gearbox')" label="Transmission ratio [-]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Gearbox transmission ratio. Relationship between the speed of the device and rotating speed of the generator shaft [dimensionless]" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.mechanical_inputs.t_ratio"
                  :min="0"
                  :step="0.5"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="(inputData.mechanical_inputs.complexity_level === 2 || inputData.mechanical_inputs.complexity_level === 3) && inputData.mechanical_inputs.Type === 'AirTurbine'" label="Turbine diameter [m]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Air turbine diameter [m]" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.mechanical_inputs.diameter"
                  :min="0"
                  :step="0.1"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="(inputData.mechanical_inputs.complexity_level === 2 || inputData.mechanical_inputs.complexity_level === 3) && inputData.mechanical_inputs.Type === 'AirTurbine'" label="Surface water level area [m2]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="internal surface water level area of each Air turbine [m2]. If multiple PTOs, the whole area will be the sum of each turbine area" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.mechanical_inputs.Sowc"
                  :min="0"
                  :step="0.1"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="(inputData.mechanical_inputs.complexity_level === 2 || inputData.mechanical_inputs.complexity_level === 3) && inputData.mechanical_inputs.Type === 'Hydraulic'" label="motor size [m3/rad]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Hydraulic motor size [m3/rad]" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.mechanical_inputs.size"
                  :min="0"
                  :step="0.00001"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="(inputData.mechanical_inputs.complexity_level === 2 || inputData.mechanical_inputs.complexity_level === 3) && inputData.mechanical_inputs.Type === 'Hydraulic'" label="Cross section piston [m2]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Cross section of the piston [m2]" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.mechanical_inputs.Ap"
                  :min="0"
                  :step="0.1"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="(inputData.mechanical_inputs.complexity_level === 2 || inputData.mechanical_inputs.complexity_level === 3) && inputData.mechanical_inputs.Type === 'Hydraulic'" label="Flow [%]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Flow portion allowed to pass through the hydraulic motor" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.mechanical_inputs.flow"
                  :min="0"
                  :max="1"
                  :step="0.01"
                />
              </el-col>
            </el-row>
          </el-form-item>
        </el-collapse-item>
        <el-collapse-item title="Electrical transformation" name="3">
          <el-form-item label="Electrical complexity level">
            <el-select v-model="inputData.electrical_inputs.complexity_level" placeholder="Please select">
              <el-option
                v-for="item in cpxLevelOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                :disabled="item.disabled"
              />
            </el-select>
          </el-form-item>
          <el-form-item v-if="inputData.electrical_inputs.complexity_level === 3" label="Electrical object from catalogue">
            <el-select v-model="inputData.electrical_inputs.name" placeholder="Please select">
              <el-option
                v-for="item in inputData.electrical_inputs.catalogue_gen"
                :key="item"
                :label="item"
                :value="item"
                :disabled="item.disabled"
              />
            </el-select>
          </el-form-item>
          <el-form-item v-if="inputData.electrical_inputs.complexity_level === 2 || inputData.electrical_inputs.complexity_level === 3" label="Electrical transformation type">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Squirrel Cage Induction Generator or Permanent Magnet Synchronous Generator. If Direct-drive option is selected, only PMSG is elegible" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-select v-model="inputData.electrical_inputs.Type" placeholder="Please select" @change="checkPoles()">
                  <el-option label="SCIG" value="SCIG" />
                  <el-option label="PMSG" value="PMSG" />
                </el-select>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.electrical_inputs.complexity_level === 1 || inputData.electrical_inputs.complexity_level === 2 || inputData.electrical_inputs.complexity_level === 3" label="Rated power [kW]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Electrical conversion rated power in kW. Maximum power will be incremented by the Torque and Voltage maximum to nominal ratios" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.electrical_inputs.rated_power"
                  :min="0"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.electrical_inputs.complexity_level === 2 || inputData.electrical_inputs.complexity_level === 3" label="Rated rms Voltage [V]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Electrical conversion rated voltage in Volts" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.electrical_inputs.Vnom"
                  :min="0"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.electrical_inputs.complexity_level === 2 || inputData.electrical_inputs.complexity_level === 3" label="Nominal frequency [Hz]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Electrical conversion nominal frequency in Hz" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.electrical_inputs.fnom"
                  :min="0"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.electrical_inputs.complexity_level === 2 || inputData.electrical_inputs.complexity_level === 3" label="Generator inductance [Hr]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Electrical conversion inductance in Hr" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.electrical_inputs.Lgen"
                  :min="0"
                  :step="0.0001"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.electrical_inputs.complexity_level === 2 || inputData.electrical_inputs.complexity_level === 3" label="Generator resistance [ohm]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Electrical conversion resistance in ohm" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.electrical_inputs.Rgen"
                  :min="0"
                  :step="0.0001"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="(inputData.electrical_inputs.complexity_level === 2 || inputData.electrical_inputs.complexity_level === 3) && inputData.electrical_inputs.Type === 'PMSG' " label="Generator pole pairs">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Electrical conversion number of pairs of poles" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.electrical_inputs.pp"
                  :min="1"
                  @change="calculateRatio()"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="(inputData.electrical_inputs.complexity_level === 2 || inputData.electrical_inputs.complexity_level === 3) && inputData.electrical_inputs.Type === 'SCIG'" label="Generator pole pairs">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Electrical conversion number of pairs of poles. Note that induction generators with high pole count will have low power factor. No more than 7 pair of poles allowed" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="7">
                <el-input-number
                  v-model="inputData.electrical_inputs.pp"
                  :min="1"
                  :max="7"
                  @change="calculateRatio()"
                />
              </el-col>
              <el-col :span="7">
                <i> Maximum power factor at full load</i>
              </el-col>
              <el-col :span="2">
                <el-input-number
                  v-model="inputData.electrical_inputs.max_cos_phi[inputData.electrical_inputs.pp-1]"
                  size="small"
                  :disabled="true"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.electrical_inputs.complexity_level === 2 || inputData.electrical_inputs.complexity_level === 3" label="Peak to nominal Torque">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Ratio of peak to nominal Torque" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.electrical_inputs.rel_T_maxnom"
                  :min="0"
                  :step="0.001"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.electrical_inputs.complexity_level === 2 || inputData.electrical_inputs.complexity_level === 3" label="Peak to nominal Voltage">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Ratio of peak to nominal Voltage. The same ratio applies to obtain the maximum frequency and speed" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.electrical_inputs.rel_V_maxnom"
                  :min="0"
                  :step="0.001"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.electrical_inputs.complexity_level === 2 || inputData.electrical_inputs.complexity_level === 3" label="Electrical conversion class">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Generator class for life calculation" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-select v-model="inputData.electrical_inputs.gen_class" placeholder="Please select">
                  <el-option label="Class A" value="Class_A" />
                  <el-option label="Class B" value="Class_B" />
                  <el-option label="Class F" value="Class_F" />
                  <el-option label="Class H" value="Class_H" />
                </el-select>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.electrical_inputs.complexity_level === 1 ||inputData.electrical_inputs.complexity_level === 2 || inputData.electrical_inputs.complexity_level === 3" label="Generator nominal speed [rad/s]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Generator nominal speed" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="generator_speed"
                  :disabled="true"
                />
              </el-col>
            </el-row>
          </el-form-item>
        </el-collapse-item>
        <el-collapse-item title="Grid conditioning" name="4">
          <el-form-item label="Grid conditioning complexity level">
            <el-select v-model="inputData.grid_inputs.complexity_level" placeholder="Please select">
              <el-option
                v-for="item in cpxLevelOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                :disabled="item.disabled"
              />
            </el-select>
          </el-form-item>
          <el-form-item v-if="inputData.grid_inputs.complexity_level === 3" label="Grid conditioning object from catalogue">
            <el-select v-model="inputData.grid_inputs.name" placeholder="Please select">
              <el-option
                v-for="item in inputData.grid_inputs.catalogue_grid"
                :key="item"
                :label="item"
                :value="item"
                :disabled="item.disabled"
              />
            </el-select>
          </el-form-item>
          <el-form-item v-if="inputData.grid_inputs.complexity_level === 1 || inputData.grid_inputs.complexity_level === 2 || inputData.grid_inputs.complexity_level === 3" label="Rated power (grid) [kW]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Grid conditioning rated power in kW" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.grid_inputs.rated_power"
                  :min="0"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.grid_inputs.complexity_level === 2 || inputData.grid_inputs.complexity_level === 3" label="DC Link voltage [V]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="DC link (bus) voltage" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.grid_inputs.Vdc"
                  :min="0"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.grid_inputs.complexity_level === 2 || inputData.grid_inputs.complexity_level === 3" label="Switching frequency [Hz]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Power converter switching frequency" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.grid_inputs.fsw"
                  :min="0"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.grid_inputs.complexity_level === 2 || inputData.grid_inputs.complexity_level === 3" label="Grid rms voltage [V]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Grid rms voltage in volts" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.grid_inputs.Vgrid"
                  :min="0"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.grid_inputs.complexity_level === 2 || inputData.grid_inputs.complexity_level === 3" label="Resistance [ohm]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Grid connection resistance" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.grid_inputs.Rgrid"
                  :min="0"
                  :step="0.0001"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.grid_inputs.complexity_level === 2 || inputData.grid_inputs.complexity_level === 3" label="Inductance [Hr]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Grid connection inductance" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.grid_inputs.Lgrid"
                  :min="0"
                  :step="0.0001"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.grid_inputs.complexity_level === 2 || inputData.grid_inputs.complexity_level === 3" label="Required cosfi">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Required cosfi in the power injected into grid" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.grid_inputs.cosfi"
                  :min="0"
                  :max="1"
                  :step="0.01"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.grid_inputs.complexity_level === 2 || inputData.grid_inputs.complexity_level === 3" label="Grid frequency [Hz]">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Grid frequency" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.grid_inputs.Fgrid"
                  :min="0"
                />
              </el-col>
            </el-row>
          </el-form-item>
        </el-collapse-item>
        <el-collapse-item title="Control" name="5">
          <el-form-item label="Control type">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Control type selection. Depends on mechanical complexity level (1-2: Passive, 3: Passive/User defined)" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-select v-model="inputData.control_inputs.control_type" placeholder="Please select">
                  <el-option label="Passive" value="Passive" />
                  <el-option v-if="inputData.mechanical_inputs.complexity_level === 3 " label="User defined" value="User defined" />
                </el-select>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item v-if="inputData.control_inputs.control_type === 'User defined' " label="Control object from catalogue">
            <el-select v-model="inputData.control_inputs.name" placeholder="Please select">
              <el-option
                v-for="item in inputData.control_inputs.catalogue_cont"
                :key="item"
                :label="item"
                :value="item"
                :disabled="item.disabled"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="n sigma">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Number of velocity standar deviations to consider in the solution" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.control_inputs.n_sigma"
                  :min="0"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item label="bins">
            <el-row type="flex">
              <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Nº of points to represent each sea state. The bigger the higher precision but slower computation" placement="top">
                  <i class="el-icon-question" />
                </el-tooltip>
              </el-col>
              <el-col :span="6">
                <el-input-number
                  v-model="inputData.control_inputs.bins"
                  :min="0"
                />
              </el-col>
            </el-row>
          </el-form-item>
        </el-collapse-item>
      </el-collapse>
    </el-form>
    <br>
    <div>
      <el-row type="flex" justify="center">
        <el-col :span="6">
          <el-button
            type="primary"
            :disabled="validateInputForm()"
            @click="saveEtInputs()"
          >Save</el-button>
        </el-col>
        <el-col :span="6">
          <el-button
            type="warning"
            :disabled="validateInputForm()"
            @click="onRun()"
          >Run</el-button>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/dtop/dtopConsts"

export default {
  data() {
    return {
      loading: false,
      etStudyId: '',
      studyData: {},
      activeInputSections: [],
      cpxLevelOptions: [
        {
          value: 1,
          label: '1'
        },
        {
          value: 2,
          label: '2'
        },
        {
          value: 3,
          label: '3'
        }
      ],
      inputData: {
        general_inputs: {
          parallel_ptos: 1,
          dev_shut_flag: 1
        },
        mechanical_inputs: {
          complexity_level: null,
          direct_drive: false,
          rated_power: 500,
          t_ratio: 10,
          Type: 'Gearbox',
          turb_type: 'Wells',
          mech_t_ratio: 10,
          diameter: 1,
          Sowc: 20,
          size: 0.00014,
          Ap: 0.2,
          flow: 1,
          catalogue_turb: [],
          catalogue_hyd: [],
          catalogue_gb: [],
          name: ''
        },
        electrical_inputs: {
          complexity_level: null,
          rated_power: 500,
          Vnom: 400,
          fnom: 50,
          Lgen: 0.0005,
          Rgen: 0.0001,
          pp: 2,
          rel_T_maxnom: 2,
          rel_V_maxnom: 1.725,
          gen_class: 'Class_A',
          catalogue_gen : [],
          name : ''
        },
        grid_inputs: {
          complexity_level: null,
          rated_power: 500,
          Vdc: 1200,
          fsw: 5000,
          Vgrid: 690,
          Rgrid: 0.0001,
          Lgrid: 0.001,
          cosfi: 1,
          Fgrid: 50,
          catalogue_grid : [],
          name : ''
        },
        control_inputs: {
          control_type: 'Passive',
          n_sigma: 5,
          bins: 500,
          vel_mean: 0.000001,
          catalogue_cont: []
        }
      },
      inputsSavedMessage: '',
      resultsSavedMessage: '',
      technology: '',
      ec_data: '',
      sc_data: '',
      mc_data: '',
      max_cmpx: 3,
      mec_cat: '',
      elec_cat: '',
      grid_cat: '',
      control_cat: ''    }
  },
  computed : {
    generator_speed :  {
      get : function (){

        return 6.28 * this.inputData.electrical_inputs.fnom / this.inputData.electrical_inputs.pp
    },
    set: function (newValue) {
      let gen_speed = newValue
    }



  }},

  created() {
    this.etStudyId = this.$route.params.study_id
    this.getEtStudy(this.etStudyId)
    // this.getEtCatalogueObjects(this.etStudyId)
    this.getEtInputs(this.etStudyId)
    this.get_crossmodule(this.etStudyId)
    this.calculateRatio()
  },
  methods: {
    getEtStudy(etStudyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}`
      axios.get(path)
        .then((res) => {
          this.studyData = res.data.study_result
          this.technology = res.data.technology
          this.max_cmpx = res.data.cmpx
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
          this.studyMessage("Error retrieving data from this entity", 'error')
        })
    },
    getEtCatalogueObjects(etStudyId) {
      const path = `${process.env.VUE_APP_API_URL}/energy_transf/${etStudyId}/inputs/catalogue_objects`
      axios.get(path)
        .then((res) => {
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
          this.studyMessage("Error retrieving data from the catalogue", 'error')
        })
    },
    getEtInputs(etStudyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}/inputs`
      axios.get(path)
        .then((res) => {
          this.inputData = res.data
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
          this.studyMessage("Error retrieving input data from this entity", 'error')
        })
    },
    get_crossmodule(etStudyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}/crossmodule`
      axios.get(path)
        .then((res) => {
          this.ec_data = res.data.ec_data
          this.mc_data = res.data.mc_data
          this.sc_data = res.data.sc_data
          this.omega_mec_mean = res.data.omega_mec_mean
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.studyMessage("Error retrieving data from other modules stored in ET database", 'error')
        })
    },
    handleChange(val) {
      console.log(val)
    },
    validateInputForm() {
      if (this.inputData.mechanical_inputs.complexity_level !== null && this.inputData.electrical_inputs.complexity_level !== null && this.inputData.grid_inputs.complexity_level !== null) {
        return false
      } else return true
    },
    forceDirectDrive(technology) {
      if (this.inputData.mechanical_inputs.direct_drive && technology === 'Wave') {
        this.inputData.mechanical_inputs.mech_t_ratio = 1
      }
      if (this.inputData.mechanical_inputs.direct_drive && technology === 'Tidal') {
        this.inputData.mechanical_inputs.Type = 'Direct_Tidal'
        this.inputData.mechanical_inputs.t_ratio = 1
      } else if (!this.inputData.mechanical_inputs.direct_drive && technology === 'Tidal') {
        this.inputData.mechanical_inputs.Type = 'Gearbox'
      }
    },
    removeDirectDrive() {
      this.inputData.mechanical_inputs.direct_drive = false
      this.inputData.mechanical_inputs.name = 'Please select'
    },
    checkControl() {
      if (this.inputData.mechanical_inputs.complexity_level !== 3) {
        this.inputData.control_inputs.control_type = 'Passive'
      }
      if (this.inputData.mechanical_inputs.complexity_level !== 2 || this.inputData.mechanical_inputs.complexity_level !== 3) {
        this.inputData.mechanical_inputs.t_ratio = (6.28 * this.inputData.electrical_inputs.fnom / this.inputData.electrical_inputs.pp) / this.omega_mec_mean
      }
    },
    calculateRatio() {
      if (this.inputData.mechanical_inputs.complexity_level !== 2 || this.inputData.mechanical_inputs.complexity_level !== 3) {
        this.inputData.mechanical_inputs.t_ratio = (6.28 * this.inputData.electrical_inputs.fnom / this.inputData.electrical_inputs.pp) / this.omega_mec_mean
      }
    },
    checkPoles() {
      if (this.inputData.electrical_inputs.Type === 'SCIG' && this.inputData.electrical_inputs.pp > 6) {
        this.inputData.electrical_inputs.pp = 6
      }
    },
    saveEtInputs() {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${this.etStudyId}/inputs`
      const payload = this.inputData
      axios.put(path, payload)
        .then((res) => {
          this.inputsSavedMessage = res.data.message
          this.$message({
            message: this.inputsSavedMessage,
            type: 'success'
          })
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
          this.studyMessage("Error saving input data", 'error')
        })
    },
    onRun() {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${this.etStudyId}/outputs`
      const payload = this.inputData
      this.loading = true
      axios.put(path, payload)
        .then((res) => {
          this.loading = false
          this.resultsSavedMessage = res.data.message
          this.$message({
            message: this.resultsSavedMessage,
            type: 'success'
          })
          this.openAnalysisOutputs()
        })
        .catch((error) => {
          this.loading = false
          // eslint-disable-next-line
          // console.error(error);
          this.studyMessage("Error running this ET entity", 'error')
        })
    },
    openAnalysisOutputs() {
      this.$router.push({ name: 'AnalysisOutputs', params: { studyData: this.studyData }})
    },
    studyMessage(content, msgType) {
      this.$message({
        message: content,
        type: msgType
      })
    },
  }
}
</script>
