<!--
This is is the Energy Transformation Module (ET) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 2021 TECNALIA - Eider Robles, Vincenzo Nava, Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-table
      v-loading="listLoading"
      :data="tableData"
      element-loading-text="Loading"
      fit
      highlight-current-row
      style="min-width:100%;"
    >
      <el-table-column
        prop="output"
        width="500%"
      />
      <el-table-column
        prop="view"
        width="150"
      >
        <el-button type="View" style="width:90px;position:relative;left=20px;top:0px">View</el-button>
      </el-table-column>
      <el-table-column
        prop="save"
        width="600"
      >
        <el-input v-model="input" placeholder="Please input the name of the file to save it" style="width:500px;position:relative;left=20px;top:0px">
          <el-button slot="append" icon="el-icon-download" />
        </el-input>
      </el-table-column>
    </el-table>
    <p />
    <div class="chart-container">
      <chart height="100%" width="100%" />
    </div>
  </div>
</template>

<script>
import Chart from '@/components/Charts/LineMarker'
export default {
  name: 'LineChart',
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  components: { Chart },
  data() {
    return {
      input: '',
      list: null,
      listLoading: true,
      tableData: [
        {
          output: 'Power Matrix / Curve of Transformed Energy'
        },
        {
          output: 'Bill of materials'
        }
      ]
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      this.listLoading = false
    }
  }
}
</script>
<style scoped>
.chart-container{
  position:relative;
  width: 100%;
  height: calc(100vh - 84px);
}
</style>
