<template>
  <el-upload
    class="upload-demo"
    style="margin-left: 35%"
    drag
    action="spey/upload"
    :show-file-list="true"
    :http-request="uploaderSPEY"
    :before-upload="beforeuploaderSPEY"
    data-cy-spey="uploadBox"
  >
    <i class="el-icon-upload" />
    <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
    <div slot="tip" class="el-upload__tip">json files with a size less than 2Mb</div>
    <!-- <div slot="tip" class="el-upload__tip"><a href="../files/test.png" download>Download File Template</a></div> -->
  </el-upload>
</template>

<script>

export default {
  props: [
  ],
  data() {
    return {
      dataName: null
    }
  },
  methods: {
    beforeuploaderSPEY(file) {
      const isJSON = file.type === 'application/json'
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isJSON) {
        this.$message.error('File must be JSON format!')
      }
      if (!isLt2M) {
        this.$message.error('File size can not exceed 2MB!')
      }
      return isJSON && isLt2M
    },
    async uploaderSPEY(p) {
      this.dataName = await this.onloadJson(p)
      this.$emit('uploadedFile', this.dataName)
    },
    onloadJson(p) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsText(p.file)
        reader.onload = (e) => {
          resolve(JSON.parse(e.target.result))
        }
      })
    },
    uploadedFile() {
      this.$emit('uploadedFile', this.dataName)
      console.log(this.dataName)
    }
  }
}
</script>
