<!--
This is is the Energy Transformation Module (ET) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 2021 TECNALIA - Eider Robles, Vincenzo Nava, Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-row>
      <el-button
        type="success"
        size="mini"
        @click="dialogFormVisible = true"
      >
        Create Energy Transformation study
      </el-button>
    </el-row>
    <br>
    <br>
    <el-dialog title="Create an Energy Transformation study" :visible.sync="dialogFormVisible">
      <el-form :model="studyForm">
        <el-form-item label="Name" :label-width="formLabelWidth">
          <el-input v-model="studyForm.name" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Description" :label-width="formLabelWidth">
          <el-input v-model="studyForm.description" autocomplete="off" />
        </el-form-item>
        <!-- <el-form-item label="Standalone mode?" :label-width="formLabelWidth">
          <el-checkbox v-model="studyForm.standalone" :disabled="true" @change="initModuleIds()" />
        </el-form-item>
        <p>
          Please upload the files in the proposed order
        </p>
        <el-form-item label="Energy Capture study" :label-width="formLabelWidth">
          <el-button
            v-if="studyForm.standalone"
            type="success"
            size="mini"
            @click="dialogECFormVisible = true"
          >
            Input EC data in JSON format
          </el-button>
          <el-select v-if="!studyForm.standalone" v-model="studyForm.ec" placeholder="Select study ID">
            <el-option
              v-for="item in dummyCrossModuleStudies"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item v-if="studyForm.standalone && flagEC" label="Machine Characterisation study" :label-width="formLabelWidth">
          <el-button
            v-if="studyForm.standalone && flagEC"
            type="success"
            size="mini"
            @click="dialogMCFormVisible = true"
          >
            Input MC data in JSON format
          </el-button>
          <el-select v-if="!studyForm.standalone" v-model="studyForm.mc" placeholder="Select study ID">
            <el-option
              v-for="item in dummyCrossModuleStudies"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item v-if="studyForm.standalone && flagMC" label="Site Characterisation study" :label-width="formLabelWidth">
          <el-button
            v-if="studyForm.standalone && flagMC"
            type="success"
            size="mini"
            @click="dialogSCFormVisible = true"
          >
            Input SC data in JSON format
          </el-button>
          <el-select v-if="!studyForm.standalone" v-model="studyForm.sc" placeholder="Select study ID">
            <el-option
              v-for="item in dummyCrossModuleStudies"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item> -->
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="success" :disabled="createBtnDisabled()" @click="onSubmit">Create</el-button>
      </span>
    </el-dialog>
    <el-table :data="et_studies" style="width: 100%">
      <el-table-column
        prop="id"
        label="ID"
        :min-width="5"
      />
      <el-table-column
        prop="name"
        label="Name"
        :min-width="15"
      />
      <el-table-column
        prop="description"
        label="Description"
        :min-width="30"
      />
      <el-table-column
        label="Standalone mode"
        :min-width="5">
        <template slot-scope="scope">
          <span v-if="scope.row.standalone">Yes</span>
          <span v-else>No</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="status"
        label="Status [%]"
        :min-width="5"
      />
      <el-table-column
        prop="site_characterisation_study_id"
        label="SC Study ID"
        :min-width="5"
      />
      <el-table-column
        prop="machine_characterisation_study_id"
        label="MC Study ID"
        :min-width="5"
      />
      <el-table-column
        prop="energy_capture_study_id"
        label="EC Study ID"
        :min-width="5"
      />
      <el-table-column
        label="Operations"
        :min-width="25">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            @click="openOtherModuleInputs(scope.row)"
          >Inputs from Other Modules</el-button>
          <br>
          <el-button
            size="mini"
            type="text"
            @click="openAnalysisInputs(scope.row)"
          >Inputs of Energy transfromation</el-button>
          <br>
          <el-button
            size="mini"
            type="text"
            :disabled="validateStatus(scope.row)"
            @click="openAnalysisOutputs(scope.row)"
          >Outputs</el-button>
          <br>
          <el-button
            size="mini"
            type="text"
            @click="editStudy(scope.row)"
          >Change Name/Description</el-button>
          <br>
          <el-button
            size="mini"
            type="text"
            @click="deleteStudy(scope.row)"
          >Delete</el-button>
          <br>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="Update an Energy Transformation study" :visible.sync="dialogUpdateFormVisible">
      <el-form :model="studyForm">
        <el-form-item label="Name" :label-width="formLabelWidth">
          <el-input v-model="studyForm.name" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Description" :label-width="formLabelWidth">
          <el-input v-model="studyForm.description" autocomplete="off" />
        </el-form-item>
        <!-- <el-form-item label="Standalone mode?" :label-width="formLabelWidth">
          <el-checkbox v-model="studyForm.standalone" :disabled="true" @change="initModuleIds()" />
        </el-form-item>
        <p>
          Please upload the files in the proposed order
        </p>
        <el-form-item label="Energy Capture study" :label-width="formLabelWidth">
          <el-row type="flex">
            <el-col :span="2">
              <el-tooltip class="item" effect="dark" content="Mandatory to upload again MC data after updating EC data" placement="top">
                <i class="el-icon-question" />
              </el-tooltip>
            </el-col>
            <el-col :span="10">
              <el-button
                v-if="studyForm.standalone"
                type="success"
                size="mini"
                @click="dialogECFormVisible = true"
              >
                Input EC data in JSON format
              </el-button>
            </el-col>
          </el-row>
          <el-select v-if="!studyForm.standalone" v-model="studyForm.ec" placeholder="Select study ID">
            <el-option
              v-for="item in dummyCrossModuleStudies"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="Machine Characterisation study" :label-width="formLabelWidth">
          <el-button
            v-if="studyForm.standalone"
            type="success"
            size="mini"
            @click="dialogMCFormVisible = true"
          >
            Input MC data in JSON format
          </el-button>
          <el-select v-if="!studyForm.standalone" v-model="studyForm.mc" placeholder="Select study ID">
            <el-option
              v-for="item in dummyCrossModuleStudies"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="Site Characterisation study" :label-width="formLabelWidth">
          <el-button
            v-if="studyForm.standalone"
            type="success"
            size="mini"
            @click="dialogSCFormVisible = true"
          >
            Input SC data in JSON format
          </el-button>
          <el-select v-if="!studyForm.standalone" v-model="studyForm.sc" placeholder="Select study ID">
            <el-option
              v-for="item in dummyCrossModuleStudies"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item> -->
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="warning" :disabled="createBtnDisabled()" @click="onSubmitUpdate">Update</el-button>
      </span>
    </el-dialog>
    <el-dialog title="Delete an Energy Transformation study" :visible.sync="dialogDeleteVisible">
      <span>Are you sure you want to delete the following study?</span><br><br>
      <span><b>Name: </b>{{ this.studyForm.name }}</span><br>
      <span><b>Description: </b>{{ this.studyForm.description }}</span><br>
      <span><b>ID: </b>{{ this.studyForm.id }}</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="danger" @click="removeStudy">Delete</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/dtop/dtopConsts"

export default {
  data() {
    return {
      et_studies: [],
      studyForm: {
        name: '',
        description: '',
        standalone: true,
        sc: null,
        mc: null,
        ec: null
      },
      deleteForm: {
        id: '',
        name: '',
        description: ''
      },
      dialogFormVisible: false,
      dialogUpdateFormVisible: false,
      formLabelWidth: '240px',
      added_void: false

    }
  },
  created() {
    this.getStudies();
  },
  methods: {
    getStudies() {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf`
      axios.get(path)
        .then((res) => {
          this.et_studies = res.data.et_studies
          this.last_study = res.data.last_study
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    openOtherModuleInputs(row) {
      this.$router.push({ name: 'OtherModuleInputs', params: { study_id: row.id } })
    },
    openAnalysisInputs(row) {
      this.$router.push({ name: 'AnalysisInputs', params: { study_id: row.id } })
    },
    openAnalysisOutputs(row) {
      this.$router.push({ name: 'AnalysisOutputs', params: { study_id: row.id } })
    },
    validateStatus(row) {
      if (row.status === 100) {
        return false
      } else return true
    },
    onCancel() {
      this.dialogFormVisible = false
      this.dialogUpdateFormVisible = false
      this.dialogDeleteVisible = false
      this.flagEC = false
      this.flagMC = false
      this.operationMessage('Operation cancelled')
      this.initForm()
      this.flagEC = false
      this.flagMC = false
      if (this.added_void === true) {
        this.removeStudy()
      }
      this.getStudies()
    },
    onSubmitUpdate() {
      this.dialogUpdateFormVisible = false
      const payload = {
        name: this.studyForm.name,
        description: this.studyForm.description,
        standalone: this.studyForm.standalone
        // site_characterisation_data: this.studyForm.sc,
        // machine_characterisation_data: this.studyForm.mc,
        // energy_capture_data: this.studyForm.ec
      }
      this.updateStudy(payload, this.studyForm.id)
      this.updated_id = this.studyForm.id
      this.initForm()
    },
    studyMessage(content, msgType) {
      this.$message({
        message: content,
        type: msgType
      })
    },
    operationMessage(content) {
      this.$message({
        message: content
      })
    },
    createBtnDisabled() {
      if (this.studyForm.name === '') {
        return true
      // } else if ((this.studyForm.sc === null || this.studyForm.mc === null || this.studyForm.ec === null)) {
      //   return true
      } else {
        return false
      }
    },
    onSubmit() {
      this.dialogFormVisible = false
      const payload = {
        name: this.studyForm.name,
        description: this.studyForm.description,
        // standalone: this.studyForm.standalone
        // site_characterisation_data: this.studyForm.sc,
        // machine_characterisation_data: this.studyForm.mc,
        // energy_capture_data: this.studyForm.ec
      }
      // console.log(this.last_study)
      this.addStudy(payload)
      console.log(payload)
      this.flagEC = false
      this.flagMC = false
      // this.getStudies(false)

      this.initForm()
    },
    updateStudy(payload, studyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${studyId}`
      axios.put(path, payload)
        .then(() => {
          // this.updated_id
          this.getStudies()

          this.studyMessage('Study updated', 'success')

        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getStudies()
          this.studyMessage('Operation cancelled. Unique study name required.', 'warning')
        })
    },
    editStudy(row) {
      this.studyForm.id = row.id
      this.studyForm.name = row.name
      this.studyForm.description = row.description
      this.studyForm.standalone = row.standalone
      this.studyForm.sc = row.site_characterisation_data
      this.studyForm.mc = row.machine_characterisation_data
      this.studyForm.ec = row.energy_capture_data
      this.dialogUpdateFormVisible = true
    },
    removeStudy() {
      this.dialogDeleteVisible = false
      this.initForm()
      if (this.added_void === true) {
        this.studyId = this.last_study
      } else {
        this.studyId = this.studyForm.id
      }
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${this.studyId}`
      axios.delete(path)
        .then(() => {
          this.getStudies()
          if (this.added_void !== true) {
            this.studyMessage('Study deleted', 'success')
          } else {
            this.added_void = false
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getStudies()
        })
    },
    deleteStudy(row) {
      this.studyForm.id = row.id
      this.studyForm.name = row.name
      this.studyForm.description = row.description
      this.dialogDeleteVisible = true
    },
    initForm() {
      this.studyForm.name = ''
      this.studyForm.description = ''
      this.studyForm.standalone = true
      this.studyForm.sc = null
      this.studyForm.mc = null
      this.studyForm.ec = null
      // this.added_void = false
    },
    addStudy(payload) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf`
      axios.post(path, payload)
        .then(() => {
          this.getStudies()
          // console.log(this.last_study)
          this.studyMessage('Study added', 'success')
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.getStudies()
          this.studyMessage('Operation cancelled. Unique study name required.', 'warning')
        })
    },
    editStudy(row) {
      this.studyForm.id = row.id
      this.studyForm.name = row.name
      this.studyForm.description = row.description
      this.studyForm.standalone = row.standalone
      this.studyForm.sc = row.site_characterisation_data
      this.studyForm.mc = row.machine_characterisation_data
      this.studyForm.ec = row.energy_capture_data
      this.dialogUpdateFormVisible = true
    },

  }
}
</script>
