<!--
This is is the Energy Transformation Module (ET) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 2021 TECNALIA - Eider Robles, Vincenzo Nava, Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <h1>Inputs from Other Modules</h1>
    <h2>Study details</h2>
    <p><i>Name: </i> <span>{{ studyData.name }}</span></p>
    <p><i>Description: </i> {{ studyData.description }}</p>
    <!-- <p><i>Technology: </i> {{ technology }}</p> -->
    <!-- <p>
      <i>Standalone mode: </i>
      <span v-if="studyData.standalone">Yes</span>
      <span v-else>No</span>
    </p> -->
    <!-- <p v-if=" !studyData.standalone"><i>Site Characterisation ID: </i> {{ studyData.site_characterisation_study_id }}</p>
    <p v-if=" !studyData.standalone"><i>Machine Characterisation ID: </i> {{ studyData.machine_characterisation_study_id }}</p>
    <p v-if=" !studyData.standalone"><i>Energy Capture ID: </i> {{ studyData.energy_capture_study_id }}</p> -->
    <h2>Input data</h2>
      <el-tabs v-model="activeInputSections" type="card"  @tab-click="handleChange">
        <el-tab-pane label="Energy Capture" name="1">
          <el-button
            type="success"
            size="mini"
            @click="dialogECFormVisible = true"
            :disabled="isIntegrated(this.capture_standalone)"
          >
            Input EC data in JSON format
          </el-button>
        </el-tab-pane>
        <el-tab-pane label="Machine Characterisation" :disabled="!flagEC" name="2">
          <el-button

            type="success"
            size="mini"
            @click="dialogMCFormVisible = true"
            :disabled="isIntegrated(this.machine_standalone)"
          >
            Input MC data in JSON format
          </el-button>
        </el-tab-pane>
        <el-tab-pane label="Site Characterisation"  :disabled="!flagMC" name="3">
          <el-button

            type="success"
            size="mini"
            @click="dialogSCFormVisible = true"
            :disabled="isIntegrated(this.site_standalone)"
          >
            Input SC data in JSON format
          </el-button>
        </el-tab-pane>
      </el-tabs>
    <br>
    <div>
      <el-row type="flex" justify="center">
        <el-col :span="6">
          <el-button
            type="primary"
            :disabled="!flagSC&&!flagEC&&!flagMC"

            @click="onSubmit()"
          >Save</el-button>
        </el-col>
        <el-col :span="10">
          <el-button
            type="primary"
            @click="openAnalysisInputs()"
            :disabled="!flagSC&&!flagEC&&!flagMC"
          >Next Step: Energy Transformation Inputs</el-button>
        </el-col>
        <el-col :span="8">
          <el-button
            type="primary"
            :disabled="!isRun"
            @click="goOutputs"
          >Go to Outputs</el-button>
        </el-col>

      </el-row>
    </div>
  <el-dialog
      title="Input EC Data"
      :visible.sync="dialogECFormVisible"
      width="80%"
    >
      <json-uploader @uploadedFile="ec_data= $event" />
      <!-- <xslx-reader @uploadedFile="LMOForm.downtime= $event" /> -->
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancelInputs()">Cancel</el-button>
        <el-button type="success" @click="onSubmitInputsEC">Confirm</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Input SC Data"
      :visible.sync="dialogSCFormVisible"
      width="80%"
    >
      <json-uploader @uploadedFile="sc_data= $event" />
      <!-- <xslx-reader @uploadedFile="LMOForm.downtime= $event" /> -->
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancelInputs()">Cancel</el-button>
        <el-button type="success" @click="onSubmitInputsSC">Confirm</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Input MC Data"
      :visible.sync="dialogMCFormVisible"
      width="80%"
    >
      <json-uploader @uploadedFile="mc_data= $event" />
      <!-- <xslx-reader @uploadedFile="LMOForm.downtime= $event" /> -->
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancelInputs()">Cancel</el-button>
        <el-button type="success" @click="onSubmitInputsMC">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import JsonUploader from '@/components/JsonUploader'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/dtop/dtopConsts"

export default {
  components: {
    JsonUploader
  },
  data() {
    return {
      etStudyId: '',
      studyData: {},
      status: 0,
      activeInputSections: "1",
      cpxLevelOptions: [
        {
          value: 1,
          label: '1'
        },
        {
          value: 2,
          label: '2'
        },
        {
          value: 3,
          label: '3'
        }
      ],
      dialogSCFormVisible: false,
      dialogMCFormVisible: false,
      dialogECFormVisible: false,
      mc_data: null,
      sc_data: null,
      ec_data: null,
      flagEC :false,
      flagMC: false,
      flagSC: false,
      inputData: {

      },
      site_standalone: true,
      machine_standalone: true,
      capture_standalone : true,
      site_incomplete: false,
      machine_incomplete: false,
      capture_incomplete : false,
    }
  },
  created() {
    var entityID = this.$route.params.study_id
    if ( this.etStudyId !== parseInt(this.etStudyId, 10) ) {
      if ( entityID === undefined ) {
        // if the studyID is not defined and the entityID is not defined raise an error
        this.$message.error()
        this.$notify.error({
          title: 'Error',
          message: 'Invalid Project ID, please go the Main Module page and re-open the correct entity for the Machine Characterization Module',
          duration: 0
        })
        return -1
      }
      // if the studyID is not set and the entityID is available we save the value to Vuex
      this.getEtStudy(entityID)
      this.getEtInputs(entityID)
      this.get_crossmodule(entityID)
    } else {
      if ( entityID !== undefined ) {
        // if the studyID is set but it is different from the query parameter
        // the value is reset to the incoming parameter in Vuex
        this.getEtStudy(entityID)
        this.getEtInputs(entityID)
        this.get_crossmodule(entityID)
      } else {
      this.getEtStudy(this.etStudyId)
      this.getEtInputs(this.etStudyId)
      this.get_crossmodule(this.etStudyId)
      }
      // if the studId is set and entityId is not, there is nothing to do
    }
    // if (this.studyId !== parseInt(this.studyId, 10)) {
    //     this.$message.error('Invalid Project ID, redirecting to the project List');
    //     this.$router.push({ name: "ECStudiesIndex" });
    // }
    // this.get_integration_data(this.$store.getters.speyId)
  },
  // created() {0
  //   this.etStudyId = this.$route.params.study_id
  //   this.getEtStudy(this.etStudyId)
  //   this.getEtInputs(this.etStudyId)
  //   this.get_crossmodule(this.etStudyId)

  // },
  computed: {
    isRun() {
      console.log("status nuovo", this.status == 100)
      return this.status == 100
    },
  },
  methods: {
    async addCrossmodule_ec(payload, studyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${studyId}/crossmodule_ec`
      await axios.put(path, payload)
        .then((res) => {
          //    this.getStudies(false)
          // this.ec_data = null
          this.inputsSavedMessage = res.data.message
          console.log(this.inputsSavedMessage)
          // this.studyForm.ec = res.data.id
          this.flagEC = true
          this.activeInputSections = "2"
          this.get_machineEntity()
          this.$message({
            message: this.inputsSavedMessage,
            type: 'success'
          })
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
          this.ec_data = null
          this.$notify.error({
                title: 'Fetching EC',
                message: 'Error fetching data from EC module',
                duration:0

            })

          // this.studyMessage("Error fetching data from EC module", 'error')
        })
    },
    async addCrossmodule_sc(payload, studyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${studyId}/crossmodule_sc`
      await axios.put(path, payload)
        .then((res) => {
        //  this.getStudies()
          this.sc_data = null
          this.flagSC = true
          this.inputsSavedMessage = res.data.message
          // this.studyForm.sc = res.data.id
          this.$message({
            message: this.inputsSavedMessage,
            type: 'success'
          })
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
          this.sc_data = null
          this.$notify.error({
                title: 'Fetching SC',
                message: 'Error fetching data from SC module',
                duration:0

            })
          // this.studyMessage("Error fetching data from SC module", 'error')
        })
    },
    async addCrossmodule_mc(payload, studyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${studyId}/crossmodule_mc`
      await axios.put(path, payload)
        .then((res) => {
          this.mc_data = null

          this.inputsSavedMessage = res.data.message
          // this.studyForm.mc = res.data.id
          this.flagMC = true
          this.activeInputSections = "3"
          this.get_siteEntity()
          this.$message({
            message: this.inputsSavedMessage,
            type: 'success'
          })
        })
        .catch((error) => {
          // eslint-disable-next-line
          //console.error(error);
          this.mc_data = null
          // this.studyMessage("Error fetching data from MC module", 'error')
          this.$notify.error({
                title: 'Fetching MC',
                message: 'Error fetching data from MC module',
                duration:0

            })
        })
    },
    studyMessage(content, msgType) {
      this.$message({
        message: content,
        type: msgType
      })
    },
    onSubmitInputsEC() {

      this.dialogECFormVisible = false

      // if (this.added_void === true) {
      //   this.studyId = this.last_study
      // } else {
      //   this.studyId = this.studyForm.id
      // }
      if (this.ec_data != null) {
        const payload_ec = this.ec_data
        this.addCrossmodule_ec(payload_ec, this.etStudyId)
        this.activeInputSections = "2"
      }
      // const payload_ec = this.ec_data
      // this.addCrossmodule_ec(payload_ec, this.etStudyId)
      // this.get_machineEntity()
      console.log(this.ec_data)
    },
    onSubmitInputsMC() {
      this.dialogMCFormVisible = false
      // if (this.added_void === true) {
      //   this.studyId = this.last_study
      // } else {
      //   this.studyId = this.studyForm.id
      // }

      if (this.mc_data != null) {
        const payload_mc = this.mc_data
        this.addCrossmodule_mc(payload_mc, this.etStudyId)
        this.activeInputSections = "3"
      }

    },
    onSubmitInputsSC() {
      this.dialogSCFormVisible = false
      // if (this.added_void === true) {
      //   this.studyId = this.last_study
      // } else {
      //   this.studyId = this.studyForm.id
      // }

      if (this.sc_data != null) {
        const payload_sc = this.sc_data
        this.addCrossmodule_sc(payload_sc, this.etStudyId)
      }

    },
    onCancelInputs() {
      this.dialogSCFormVisible = false
      this.dialogECFormVisible = false
      this.dialogMCFormVisible = false
    },
    getEtStudy(etStudyId) {
      if (etStudyId == undefined) {
        this.$message.error('Invalid Study, redirecting to the Study List. Select one study first');
        this.$router.push({ name: "AnalysisMode" });
      } else {
      const path = `${process.env.VUE_APP_API_URL}/energy_transf/${etStudyId}`
      axios.get(path)
        .then((res) => {
          this.studyData = res.data.study_result
          this.technology = res.data.technology
          this.max_cmpx = res.data.cmpx
          this.status = this.studyData.status
          console.log("study status: ", this.status)
          this.etStudyId = etStudyId
          if (this.status == 100) {
              this.get_integration_data(etStudyId)
              // this.getInputs(this.etStudyId)
              // this.getDr(this.etStudyId)
              // this.$store.dispatch('setStatus', { status: 100 })
              this.$notify.info({
              title: 'Info',
              message: 'ET has already run and you can only modify the inputs from the GUI and see the results',
              duration: 0
            })
            } else {
              this.get_integration_data(etStudyId)
            //   this.$notify.info({
            //   title: 'Info',
            //   message: 'ET is not run yet and is fetching the data from other modules',
            //   duration:0
            // })


            }
        })
        .catch((error) => {
          // eslint-disable-next-line
          this.studyMessage("Error retrieving data from this entity", 'error')
        })
    }
    },
    getEtInputs(etStudyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}/inputs`
      axios.get(path)
        .then((res) => {
          this.inputData = res.data
        })
        .catch((error) => {
          // eslint-disable-next-line
          this.studyMessage("Error retrieving the inputs from this entity", 'error')
        })
    },
    get_crossmodule(etStudyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${etStudyId}/crossmodule`
      axios.get(path)
        .then((res) => {
          this.ec_data = res.data.ec_data
          this.mc_data = res.data.mc_data
          this.sc_data = res.data.sc_data
          this.omega_mec_mean = res.data.omega_mec_mean
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.studyMessage("Error retrieving data from other modules stored in ET database", 'error')
        })
    },
    handleChange(val) {
      console.log(val)
    },
    // checkPoles() {
    //   if (this.inputData.electrical_inputs.Type === 'SCIG' && this.inputData.electrical_inputs.pp > 6) {
    //     this.inputData.electrical_inputs.pp = 6
    //   }
    // },
    saveEtInputs() {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${this.etStudyId}/inputs`
      const payload = this.inputData
      axios.put(path, payload)
        .then((res) => {
          this.inputsSavedMessage = res.data.message
          this.$message({
            message: this.inputsSavedMessage,
            type: 'success'
          })
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
          this.studyMessage("Error saving input data for this entity", 'error')
        })
    },
    onRun() {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${this.etStudyId}/outputs`
      const payload = this.inputData
      axios.put(path, payload)
        .then((res) => {
          this.resultsSavedMessage = res.data.message
          this.$message({
            message: this.resultsSavedMessage,
            type: 'success'
          })
          // this.openAnalysisOutputs()
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
          this.studyMessage("Error running ET module", 'error')
        })
    },
    openAnalysisInputs() {
      console.log("ID", this.studyData.id)
      this.$router.push({ name: 'AnalysisInputs', params: { study_id: this.studyData.id } })
    },
    onSubmit() {
      this.dialogFormVisible = false
      const payload = {
        name: this.studyData.name,
        description: this.studyData.description}
      if (this.site_standalone){
        payload.site_characterisation_data = this.studyData.sc
      } else {
        payload.site_characterisation_study_id = this.scId
        payload.site_characterisation_data = this.studyData.sc

      }

      if (this.machine_standalone){
        payload.machine_characterisation_data = this.studyData.mc
      } else {
        payload.machine_characterisation_study_id = this.mcId
        payload.machine_characterisation_data = this.studyData.mc
      }

      if (this.capture_standalone){
        payload.energy_capture_data = this.studyData.ec
      } else {
        payload.energy_capture_study_id = this.ecId
        payload.energy_capture_data = this.studyData.ec
      }
        // standalone: this.studyData.standalone,
        // site_characterisation_data: this.studyData.sc,
        // machine_characterisation_data: this.studyData.mc,
        // energy_capture_data: this.studyData.ec

      // console.log(this.last_study)
      this.updateStudy(payload, this.etStudyId)
      console.log("payload = ", payload)
      // this.flagEC = false
      // this.flagMC = false
      // this.flagMC = false

      // this.getStudies(false)

      // this.initForm()
    },
    updateStudy(payload, studyId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${studyId}`
      console.log ("path", path)
      console.log ("pauload", payload)
      console.log("study", studyId)
      axios.put(path, payload)
        .then(() => {
          // this.updated_id
          // // this.getStudies()
          // if (this.added_void === true) {
          //   this.studyMessage('Study added', 'success')
          //   this.added_void = false
          // } else {
            this.studyMessage('Study updated', 'success')
            if ('energy_capture_study_id' in payload) {
              this.addCrossmodule_ec(payload, studyId)
              console.log ("payload, studyId", payload, studyId)
            } else if ('machine_characterisation_study_id' in payload) {
              this.addCrossmodule_mc(payload, studyId)
            } else if ('site_characterisation_study_id' in payload) {
              this.addCrossmodule_sc(payload, studyId)
            }

        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          // this.getStudies()
          // this.studyMessage(error, 'warning')
          this.studyMessage("Error running ET module", 'error')
        })
    },
    get_integration_data(etId) {
      // "http://0.0.0.0/dtop/integration/modules/ec/entities/1/projects"
      const path = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/modules/et/entities/${etId}`
      console.log
      axios.get(path)
        .then((res) => {
          // debugger
          this.project = res.data
          if (this.project.length == 0) {
            this.$notify.error({
            title: 'Info',
            message: 'Connection established with the Main Module, but this ET entity is not registered.'
          })

          } else {
            console.log("project data : ", this.project)
          this.$notify.info({
            title: 'Info',
            message: 'Connection established with the Main Module.'
          })
          this.get_captureEntity()
          // this.get_machineEntity()
          // this.get_siteEntity()

          // this.$store.dispatch('studies/setProjectStructure', { project_structure: res.data })
          // this.loading = false
          // this.iconMachine = ( this.$router.currentRoute.path.includes('model') ? "el-icon-edit" : null )
          // this.iconSite = ( this.$router.currentRoute.path.includes('dimension') ? "el-icon-edit" : null )
          // this.iconLayout = ( this.$router.currentRoute.path.includes('general') ? "el-icon-edit" : null )
        }

          }
          )
        .catch((error) => {
          this.project = []
          // this.loading = false
          this.$notify.error({
            showClose: true,
            duration: 0,
            title: "Connection Error",

          message:'Cannot establish a connection with the Main Module. ET can be used only as a standalone.',

        });

          // this.$message.error('Cannot establish a connection with the Main Module. SPEY can be used only as a standalone.'
        })
    },
    get_siteEntity() {
      try {
        let prj_str = this.project
        let study = prj_str.filter((s) => {return s.moduleId==4})
        let site_entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==1})
        this.scId = site_entity[0].entityId
        this.get_siteStatus(this.scId)
        // this.site_standalone = true
      } catch (error) {
        this.$message.error(error)
        this.site_standalone = true
        // this.scId = "User-Defined"
        this.$notify.warning({
              title: 'SC warning',
              message: 'No SC entity has been registered, so please insert data manually.',
              duration:0
            })

      }
      return this.project
    },
    get_siteStatus(siteId) {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${siteId}/status`
      console.log ("path_SC : ", path)
      axios.get(path)
        .then((res) => {
          // debugger
          let entity_data = res.data
          let url_entity = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/#/sc-entity?entityID=${siteId}`
          let text_entity = "here"
          this.site_url= text_entity.link(url_entity)
          console.log ("SC entity: " )
          if (entity_data ===100) {
            this.site_standalone = false
            this.site_incomplete = false
            // this.flagSC = true
            const payload_sc = {site_characterisation_study_id : this.scId}
            console.log ("paylod_sc  : ", payload_sc)
            this.updateStudy(payload_sc, this.etStudyId)
            // this.addCrossmodule_sc(payload_sc, this.etStudyId)
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'A SC entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration:0
            // })
          } else {
            this.site_standalone = false
           this.site_incomplete = true
            this.$notify.warning({
              title: 'SC warning',
              message: 'A SC entity has been registered but not finalised.',
              duration:0
            })
          }
        })
        .catch((error) => {
          this.site_standalone = false
          this.site_incomplete = true
            this.$notify.error({
              title: 'Error',
              message: 'Error retrieving the status of the SC entity.',
              duration:0
            })
        })
    },

    get_machineEntity() {
      try {
        let prj_str = this.project
        let study = prj_str.filter((s) => {return s.moduleId==4})
        let machine_entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==2})
        this.mcId = machine_entity[0].entityId
        this.get_machineStatus(this.mcId)
        // this.machine_standalone = false
      } catch (error) {
        this.$message.error(error)
        this.machine_standalone = true
        // this.mcId = "User-Defined"
        this.$notify.warning({
              title: 'MC warning',
              message: 'No MC entity has been registered, so please insert data manually.',
              duration:0
            })

      }
      return this.project
    },
    get_machineStatus(machineId) {
      const path = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/${machineId}`
      console.log ("path_MC : ", path)
      axios.get(path)
        .then((res) => {
          // debugger
          let entity_data = res.data
          let url_entity = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/#/mc-entity?entityID=${machineId}`
          let text_entity = "here"
          this.machine_url= text_entity.link(url_entity)
          console.log ("MC entity: " )
          if (entity_data.status===100) {
            this.machine_standalone = false
            this.machine_incomplete = false
            // this.flagMC = true
            const payload_mc = {machine_characterisation_study_id : this.mcId}
            console.log ("paylod_mc  : ", payload_mc)
            this.updateStudy(payload_mc, this.etStudyId)
            // this.addCrossmodule_mc(payload_mc, this.etStudyId)
            // this.activeInputSections = "3"

            // this.$notify.info({
            //   title: 'Info',
            //   message: 'A MC entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration:0
            // })
          } else {
            this.machine_standalone = false
           this.machine_incomplete = true
            this.$notify.warning({
              title: 'MC warning',
              message: 'A MC entity has been registered but not finalised.',
              duration:0
            })
          }
        })
        .catch((error) => {
          this.machine_standalone = false
          this.machine_incomplete = true
            this.$notify.error({
              title: 'Error',
              message: 'Error retrieving the status of the MC entity.',
              duration:0
            })
        })
    },
    get_captureEntity() {
      try {
        let prj_str = this.project
        let study = prj_str.filter((s) => {return s.moduleId==4})
        let capture_entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==3})
        this.ecId = capture_entity[0].entityId
        this.get_captureStatus(this.ecId)
        // this.machine_standalone = false
      } catch (error) {
        this.$message.error(error)
        this.capture_standalone = true
        // this.ecId = "User-Defined"
        this.$notify.warning({
              title: 'EC Warning',
              message: 'No EC entity has been registered, so please insert data manually.',
              duration:0
            })

      }
      return this.project
    },
    get_captureStatus(captureId) {
      const path = `${DTOP_PROTOCOL}//ec.${DTOP_DOMAIN}/ec/${captureId}`
      axios.get(path)
        .then((res) => {
          // debugger
          let entity_data = res.data
          console.log("entity_EC_data: ", entity_data )
          let url_entity = `${DTOP_PROTOCOL}//ec.${DTOP_DOMAIN}/ec/#/ec-entity?entityID=${captureId}`
          let text_entity = "here"
          this.capture_url= text_entity.link(url_entity)

          if (entity_data.status===100) {
            this.capture_standalone = false
            this.capture_incomplete = false
            // this.flagEC = true
            const payload_ec = {energy_capture_study_id : this.ecId}
            console.log ("paylod_ec ", payload_ec, ", etstudy: ", this.etStudyId )
            this.updateStudy(payload_ec, this.etStudyId)
            // this.addCrossmodule_ec(payload_ec, this.etStudyId)
            // this.activeInputSections = "2"


            // this.$notify.info({
            //   title: 'Info',
            //   message: 'An EC entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration:0
            // })
          } else {
            this.capture_standalone = false
           this.capture_incomplete = true
            this.$notify.warning({
              title: 'EC warning',
              message: 'An EC entity has been registered but not finalised.',
              duration:0
            })
          }
        })
        .catch((error) => {
          this.capture_standalone = false
          this.capture_incomplete = true
            this.$notify.error({
              title: 'Error',
              message: 'Error retrieving the status of the EC entity.',
              duration:0
            })
        })
    },
    isIntegrated(standalone){
      // console.log(standalone)
      return !standalone
    },
    goOutputs() {
      this.$router.push({ name: 'AnalysisOutputs', params: { studyData: this.studyData }})
    },

  }
}
</script>
