<template>
  <div>
    <el-collapse v-model="activeNames">
      <el-collapse-item v-for="stageCat in stageData" :key="stageCat.name" :title="stageCat.name" :name="stageCat.name">
        <ul>
          {{ stageCat.description }}
          <el-collapse-item v-for="act in stageCat.activities" :key="act.name" :title="act.name" :name="act.name">
            <ul>
              <li>
                <span><b>Description:</b> {{ act.description }}</span>
              </li>
              <li>
                <span><b>Further Details:</b> {{ act.further_details }}</span>
              </li>
            </ul>
          </el-collapse-item>
        </ul>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
export default {
  props: [
    'stageData'
  ],
  data() {
    return {
      activeNames: []
    }
  }
}
</script>
